
@model SMO.Service.MD.SanBayService
@{
    Model.ViewId = Guid.NewGuid().ToString();
    Model.FormId = Guid.NewGuid().ToString();
    var lstNhomSanBay = SelectListUtilities.GetAllNhomSanBay();
    var lstArea = SelectListUtilities.GetAllArea();
    var lstProvince = SelectListUtilities.GetAllProvince();
}

<div id='@Model.ViewId' class="container-fluid child-content">
    @using (Ajax.BeginForm("Update", null, FormDataUtils.GetAjaxOptions(Model.ViewId), new { @id = Model.FormId }))
    {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(m => m.ObjDetail.CODE)
        <div class="card border-grey">
            <div class="body" style="padding-top: 0px;">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a style="padding-left:0px"><i class="material-icons col-fecon">clear_all</i> CHỈNH SỬA SÂN BAY</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="page-function">
                        <div class="page-function-button m-r-20">
                            @Html.MyButton("cmdBack", "Quay lại", string.Format("Forms.Close('{0}');", @Model.ViewId), "Alt+N", "arrow_back")
                            @Html.MyButton("cmdSave", "Lưu lại", string.Format("Forms.SubmitForm('{0}');", @Model.FormId), "Alt+N", "done_all")
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-xs-1"></div>
                        <div class="col-lg-7 col-xs-10">
                            <label>Mã sân bay</label>
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.CODE, new { @disabled = "" })
                                </div>
                            </div>

                            <label>Tên sân bay</label>
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.NAME)
                                </div>
                            </div>

                            <label>CN địa phương</label>
                            <select class="form-control  selectpicker show-tick" data-live-search="true" data-val="true" data-show-subtext="true"
                                    name="@Html.NameFor(x => x.ObjDetail.PROVINCE_CODE)">
                                @foreach (var item in lstProvince)
                                {
                                    var selected = "";
                                    if (item.Value == Model.ObjDetail.PROVINCE_CODE)
                                    {
                                        selected = "selected";
                                    }
                                    <option @selected value="@item.Value">@item.Text</option>
                                }
                            </select>

                            <label>CN khu vực</label>
                            <select class="form-control  selectpicker show-tick" data-live-search="true" data-val="true" data-show-subtext="true"
                                    name="@Html.NameFor(x => x.ObjDetail.AREA_CODE)">
                                @foreach (var item in lstArea)
                                {
                                    var selected = "";
                                    if (item.Value == Model.ObjDetail.AREA_CODE)
                                    {
                                        selected = "selected";
                                    }
                                    <option @selected value="@item.Value">@item.Text</option>
                                }
                            </select>

                            <label>Nhóm sân bay</label>
                            <select class="form-control  selectpicker show-tick" data-live-search="true" data-val="true" data-show-subtext="true"
                                    name="@Html.NameFor(x => x.ObjDetail.NHOM_SAN_BAY_CODE)">
                                @foreach (var item in lstNhomSanBay)
                                {
                                    var selected = "";
                                    if (item.Value == Model.ObjDetail.NHOM_SAN_BAY_CODE)
                                    {
                                        selected = "selected";
                                    }
                                    <option @selected value="@item.Value">@item.Text</option>
                                }
                            </select>

                            <label>Mã PM hệ thống khác</label>
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.OTHER_PM_CODE)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script type="text/javascript">
        $(function () {
            Forms.CompleteUI();
        });
    </script>
</div>

