@model IList<SMO.Core.Entities.BP.SUA_CHUA_LON.T_BP_SUA_CHUA_LON_DEPARTMENT_ASSIGN>
@using SMO.Repository.Implement.MD
@using SMO.Core.Entities.MD
@{
    var lstCostCenter = ViewBag.LstCostCenter as List<T_MD_COST_CENTER>;
    var templateCode = ViewBag.TemplateCode;
    var version = ViewBag.Version;
    var elementCode = ViewBag.ElementCode;
    var year = ViewBag.Year;
    var lstDepartmetCode = Model.Select(x => x.DEPARTMENT_CODE).ToList();
}
<div class="modal-close">
    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">✖</button>
</div>
<div class="modal-body">
    <div class="content">
        <div class="card">
            <div class="body" style="padding-top: 0px;">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a style="padding-left:0px"><i class="material-icons">clear_all</i> GÁN PHÒNG BAN - CÔNG TY THẨM ĐỊNH</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="page-function">
                    </div>

                    <div id="divResult">
                        <div class="table-responsive">
                            <table class="table table-condensed table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th width="20px" class="align-center"></th>
                                        <th>Mã</th>
                                        <th>Tên công ty - phòng ban</th>
                                        <th>Mã khác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in lstCostCenter)
                                    {
                                        var checkedItem = "";
                                        if (lstDepartmetCode.Contains(item.CODE))
                                        {
                                            checkedItem = "checked";
                                        }
                                        <tr>
                                            <td>
                                                <input @checkedItem type="checkbox" class="filled-in chkItem" name="chkItem" id="@("chkItem" + item.CODE)" modelId="@item.CODE" style="margin:0;" onclick="AssignDepartment('@item.CODE')" />
                                                <label for="@("chkItem" + item.CODE)"></label>
                                            </td>
                                            <td>@item.CODE</td>
                                            <td>@item.NAME</td>
                                            <td>@item.SAP_CODE</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">✖</button>
</div>
<script>
    function AssignDepartment(departmentcode) {
        var inputbtn = $('#chkItem' + departmentcode);
        var isChecked = inputbtn.prop('checked');
        if (isChecked) {
            var ajaxParams = {
                url: 'BP/SuaChuaLon/AssignDepartment',
                type: "POST",
                data: {
                    templateCode: '@templateCode',
                    version: @version,
                    year: @year,
                    elementCode: '@elementCode',
                    departmentCode: departmentcode
                },
                dataType: 'json',
                success: function (response) {
                    Message.execute(response)
                }
            };
            Forms.Ajax(ajaxParams);
        }
        else {
            var ajaxParams = {
                url: 'BP/SuaChuaLon/UnAssignDepartment',
                type: "POST",
                data: {
                    templateCode: '@templateCode',
                    version: @version,
                    year: @year,
                    elementCode: '@elementCode',
                    departmentCode: departmentcode
                },
                dataType: 'json',
                success: function (response) {
                    Message.execute(response)
                }
            };
            Forms.Ajax(ajaxParams);
        }
    }
</script>

