@model SMO.Models.DataCenterModel
@using SMO.Models;

<ul class="nav nav-tabs" role="tablist" style="width: 100%; display: flex;">
    <li role="presentation" class="active" style="cursor: pointer;">
        <a href="#pre-kho-1" title="Kế hoạch theo tháng" data-toggle="tab">Pre kho 1</a>
    </li>
    <li role="presentation" style="cursor: pointer;">
        <a title="Kế hoạch theo năm" data-toggle="tab" href="#pre-1">Pre 1</a>
    </li>
    <li role="presentation" style="cursor: pointer;">
        <a title="Kế hoạch theo năm" data-toggle="tab" href="#pre">Pre</a>
    </li>
    <li role="presentation" style="cursor: pointer;">
        <a title="Kế hoạch theo năm" data-toggle="tab" href="#kho-dau-nguon">Kho ĐN</a>
    </li>
    <li role="presentation" style="cursor: pointer;">
        <a title="Kế hoạch theo năm" data-toggle="tab" href="#du-lieu">Dữ liệu</a>
    </li>
    <li role="presentation" style="cursor: pointer;">
        <a title="Kế hoạch theo năm" data-toggle="tab" href="#dgkdn">Đơn giá kho ĐN</a>
    </li>
    <li role="presentation" style="cursor: pointer;">
        <a title="Kế hoạch theo năm" data-toggle="tab" href="#cung-ung">CƯ</a>
    </li>
    <li role="presentation" style="cursor: pointer;">
        <a title="Kế hoạch theo năm" data-toggle="tab" href="#mhcutn">MHCUTN</a>
    </li>
</ul>
<div class="tab-content" style="padding-bottom:0">
    <div role="tabpanel" class="tab-pane fade in active" id="pre-kho-1">
        <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
            <div class="table-responsive" style="height:calc(100vh - 180px); width:100%">
                <table class="table table-condensed table-bordered table-striped" style="text-align:center">
                    <thead>
                        <tr>
                            <th rowspan="2">Kho đầu nguồn</th>
                            <th rowspan="2">ĐK giao hàng</th>
                            <th colspan="2" class="align-center">Tỷ lệ nhập</th>
                            <th rowspan="2">Platt's ($/thùng)</th>
                            <th colspan="2" class="align-center">Premium</th>
                            <th rowspan="2">CFR ($/thùng)</th>
                            <th rowspan="2">Thùng/tấn</th>
                            <th rowspan="2">Giá CFR ($/tấn)</th>
                            <th rowspan="2">Bảo hiểm ($/tấn)</th>
                            <th colspan="2" class="align-center">Thuế NK</th>
                            <th rowspan="2">CIF + tấn ($/tấn)</th>
                            <th rowspan="2">CIF + tấn ($/tấn) BQ</th>
                            <th rowspan="2">CIF + tấn ($/tấn) BQ</th>
                            <th rowspan="2">Pre + BH ($/thùng)</th>
                            <th rowspan="2"></th>
                            <th rowspan="2">Giảm trừ thuế hàng <br /> Dung Quất + Form D</th>
                        </tr>
                        <tr>
                            <th>Tỷ lệ nhập theo kho</th>
                            <th>SL nhập theo kho</th>
                            <th>Hàng (thùng)</th>
                            <th>Tàu</th>
                            <th>Thuế suất</th>
                            <th>Thuế ($/tấn)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.KeHoachGiaThanhData)
                        {
                            if(item.S0001 == 0 && item.S0002 == 0 && item.U0001 == 0 && item.S0003 == 0 && item.S0004 == 0
                                && item.U0002 == 0 && item.S0005 == 0 && item.U0003 == 0 && item.S0006 == 0 && item.S0007 == 0
                                && item.U0004 == 0 && item.U0005 == 0 && item.U0006 == 0 && item.U0007 == 0 && item.U0008 == 0
                                && item.U0009 == 0 && item.U0010 == 0)
                            {
                                continue;
                            }
                            <tr>
                                <td>@item.Warehouse</td>
                                <td>@item.DeliveryConditions</td>
                                <td>@item.S0001.ToStringVN()</td>
                                <td>@item.S0002.ToStringVN()</td>
                                <td>@item.U0001.ToStringVN()</td>
                                <td>@item.S0003.ToStringVN()</td>
                                <td>@item.S0004.ToStringVN()</td>
                                <td>@item.U0002.ToStringVN()</td>
                                <td>@item.S0005.ToStringVN()</td>
                                <td>@item.U0003.ToStringVN()</td>
                                <td>@item.S0006.ToStringVN()</td>
                                <td>@item.S0007.ToStringVN()</td>
                                <td>@item.U0004.ToStringVN()</td>
                                <td>@item.U0005.ToStringVN()</td>
                                <td>@item.U0006.ToStringVN()</td>
                                <td>@item.U0007.ToStringVN()</td>
                                <td>@item.U0008.ToStringVN()</td>
                                <td>@item.U0009.ToStringVN()</td>
                                <td>@item.U0010.ToStringVN()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="pre-1">
        <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
            <div class="table-responsive" style="height:calc(100vh - 180px); width:100%">
                <table class="table table-condensed table-bordered table-striped" style="text-align:center">
                    <thead>
                        <tr>
                            <th style="text-align:center;">Mã kho</th>
                            <th style="text-align:center;">Tên kho</th>
                            <th style="text-align:center;">Pre trung bình kho/BBL</th>
                            <th style="text-align:center;">Pre ĐN 1</th>
                            <th style="text-align:center;">Sản lượng (m3)</th>
                            <th style="text-align:center;">Trung bình</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PreTrungBinhKhoData)
                        {
                            if(item.PreTrungBinh == 0 && item.PreDN1 == 0 && item.SanLuong == 0 && item.TrungBinh == 0)
                            {
                                continue;
                            }
                            <tr>
                                <td>@item.WarehouseCode</td>
                                <td style="text-align:left">@item.Warehouse</td>
                                <td>@item.PreTrungBinh.ToStringVN()</td>
                                <td>@item.PreDN1.ToStringVN()</td>
                                <td>@item.SanLuong.ToStringVN()</td>
                                <td>@item.TrungBinh.ToStringVN()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="pre">
        <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
            <div class="table-responsive" style="height:calc(100vh - 180px); width:100%">
                <table class="table table-condensed table-bordered table-striped" style="text-align:center">
                    <thead>
                        <tr>
                            <th style="text-align:center;">Kho <br /> đầu nguồn 1</th>
                            <th style="text-align:center;">Kho <br /> đầu nguồn 2</th>
                            <th style="text-align:center;">Kho <br /> đầu nguồn 3</th>
                            <th style="text-align:center;">Tuyến VC lọc</th>
                            <th style="text-align:center;">Tên tuyến VC</th>
                            <th style="text-align:center;">Kho SB1</th>
                            <th style="text-align:center;">Sản lượng (m3)</th>
                            <th style="text-align:center;">Premium <br /> đầu nguồn (đ/m3)</th>
                            <th style="text-align:center;">Đ/c Pre ĐN do <br /> chênh lệch SL</th>
                            <th style="text-align:center;">Tổng Pre kho <br /> đầu nguồn (đ/m3)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PreData)
                        {
                            if(item.Quantity == 0 && item.Premium == 0)
                            {
                                continue;
                            }
                            <tr>
                                <td>@item.FirstPoint1</td>
                                <td></td>
                                <td></td>
                                <td>@item.RouteCode</td>
                                <td style="text-align: left">@item.RouteName</td>
                                <td>@item.FinalPoint</td>
                                <td>@item.Quantity.ToStringVN()</td>
                                <td>@item.Premium.ToStringVN()</td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="kho-dau-nguon">
        <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
            <div class="table-responsive" style="height:calc(100vh - 180px); width:100%">
                <table class="table table-condensed table-bordered table-striped" style="text-align:center">
                    <thead>
                        <tr>
                            <th style="text-align:center;" rowspan="2">Mã kho</th>
                            <th style="text-align:center;" rowspan="2">Tên kho</th>
                            <th style="text-align:center;" rowspan="2">Loại phí</th>
                            <th style="text-align:center;" rowspan="2">Sản lượng (m3)</th>
                            <th style="text-align:center;" rowspan="2">Đơn giá (koVAT)</th>
                            <th style="text-align:center;" rowspan="2">Hệ số <br /> điều chỉnh</th>
                            <th style="text-align:center;" colspan="3">CP hoạt động kho</th>
                            <th style="text-align:center;" rowspan="2">Phí giám định <br /> Hải Quan</th>
                            <th style="text-align:center;" rowspan="2">Tổng cộng</th>
                            <th style="text-align:center;" rowspan="2">Đơn giá kho <br /> đầu nguồn đ/m3 </th>
                        </tr>
                        <tr>
                            <th style="text-align:center;">Thuê kho</th>
                            <th style="text-align:center;">Phí mặt nước</th>
                            <th style="text-align:center;">Cộng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.KhoDauNguonData)
                        {
                            <tr>
                                <td>@item.WarehouseCode</td>
                                <td style="text-align:left">@item.WarehouseName</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="du-lieu">
        <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
            <div class="table-responsive" style="height:calc(100vh - 180px); width:100%">
                <table class="table table-condensed table-bordered table-striped" style="text-align:center">
                    <thead>
                        <tr>
                            <th style="text-align:center;" rowspan="2">Tuyến CNVT</th>
                            <th style="text-align:center;" rowspan="2">Kho đầu nguồn 2</th>
                            <th style="text-align:center;" rowspan="2">Tuyến VC lọc</th>
                            <th style="text-align:center;" rowspan="2">Tuyến VC</th>
                            <th style="text-align:center;" rowspan="2">Km có hàng</th>
                            <th style="text-align:center;" rowspan="2">Hao hụt VC</th>
                            <th style="text-align:center;" rowspan="2">Sản lượng (m3)</th>

                            <th style="text-align:center;" colspan="5">Hao hụt các khâu</th>
                            <th style="text-align:center;" rowspan="2">Cộng HH</th>
                            <th style="text-align:center;" rowspan="2">ĐG vận tải<br />  thủy nội địa</th>
                            <th style="text-align:center;" rowspan="2">Đ/c ĐG vận tải thủy</th>
                            <th style="text-align:center;" rowspan="2">ĐG VT thủy <br /> nội địa sau <br /> điều chỉnh</th>
                            <th style="text-align:center;" colspan="5">CP kho Đầu nguồn</th>
                        </tr>
                        <tr>
                            <th>TN</th>
                            <th>BR</th>
                            <th>BQ</th>
                            <th>HH kho gốc</th>
                            <th>Tàu nội</th>
                            <th>ĐN 1</th>
                            <th>ĐN 2</th>
                            <th>Cộng</th>
                            <th>Đ/c do khác SL</th>
                            <th>ĐG kho sau ĐC</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DuLieuData)
                        {
                            <tr>
                                <td style="text-align:left">@item.RouteName</td>
                                <td>@item.FirstPoint</td>
                                <td>@item.RouteCode</td>
                                <td>@item.FinalPoint</td>
                                <td>@item.KmCoHang</td>
                                <td>@item.HaoHutVC.ToString("0.0000000")</td>
                                <td>@item.Quantity.ToStringVN()</td>
                                <td>@item.TN.ToStringVN()</td>
                                <td>@item.BR.ToStringVN()</td>
                                <td>@item.BQ.ToStringVN()</td>
                                <td>@item.HHKhoGoc.ToStringVN()</td>
                                <td>@item.TauNoi.ToStringVN()</td>
                                <td>@item.CongHH.ToStringVN()</td>
                                <td>@item.DGVTTND.ToStringVN()</td>
                                <td>@item.DCDGVTT.ToStringVN()</td>
                                <td>@item.DGVTTNDSDC.ToStringVN()</td>
                                <td>@item.DN1.ToStringVN()</td>
                                <td>@item.DN2.ToStringVN()</td>
                                <td>@item.DNTotal.ToStringVN()</td>
                                <td>@item.DNOther.ToStringVN()</td>
                                <td>@item.DNKSDC.ToStringVN()</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="dgkdn">
        <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
            <div class="table-responsive" style="height:calc(100vh - 180px); width:100%">
                <table class="table table-condensed table-bordered table-striped" style="text-align:center">
                    <thead>
                        <tr>
                            <th style="text-align:center;" rowspan="2">Mã kho</th>
                            <th style="text-align:center;" colspan="2">Hao hụt cung ứng</th>
                            <th style="text-align:center;" rowspan="2">Tổng HH</th>
                            <th style="text-align:center;" rowspan="2">Đơn giá tàu nội (Đ/tấn)</th>
                            <th style="text-align:center;" rowspan="2">Đơn giá kho đầu nguồn</th>
                            <th style="text-align:center;" rowspan="2">SL sân bay</th>
                            <th style="text-align:center;" rowspan="2">Giá kho ĐN sau Đ/c</th>
                        </tr>
                        <tr>
                            <th style="text-align:center;">V/c đ.bộ</th>
                            <th style="text-align:center;">Khác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DonGiaKhoDauNguonData)
                        {
                            if(item.VanChuyenDuongBo == 0 && item.Other == 0 && item.TongHaoHut == 0 && item.DonGiaTauNoi == 0 && item.DonGiaKhoDauNguon == 0)
                            {
                                continue;
                            }
                            <tr>
                                <td>@item.WarehouseCode</td>
                                <td>@item.VanChuyenDuongBo.ToString("0.000") %</td>
                                <td>@item.Other.ToString("0.000") %</td>
                                <td>@item.TongHaoHut.ToString("0.000") %</td>
                                <td>@item.DonGiaTauNoi.ToStringVN()</td>
                                <td>@item.DonGiaKhoDauNguon.ToStringVN()</td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="cung-ung">
        <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
            <div class="table-responsive" style="height:calc(100vh - 180px); width:100%">
                <table class="table table-condensed table-bordered table-striped" style="text-align:center">
                    <thead>
                        <tr>
                            <th style="text-align:center;">Sân bay</th>
                            <th style="text-align:center;">Chi phí CƯ chưa P.bổ <br /> (CPQL)</th>
                            <th style="text-align:center;">Sản lượng cung ứng <br /> (tấn)</th>
                            <th style="text-align:center;">Đ.giá CPQL p.bổ</th>
                            <th style="text-align:center;">Đ.giá CP tàu nội</th>
                            <th style="text-align:center;">ĐG CP kho ĐN + mặt <br /> nước + H.quan </th>
                            <th style="text-align:center;">Đ.giá V.tải bộ</th>
                            <th style="text-align:center;">ĐG cung ứng <br /> không gồm HH</th>
                            <th style="text-align:center;">Tỷ lệ hao hụt <br /> cung ứng</th>
                            <th style="text-align:center;">Đơn giá hao hụt <br /> cung ứng</th>
                            <th style="text-align:center;">Đ.giá CPCƯ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CungUngData)
                        {
                            <tr>
                                <td>@item.SanBayCode</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="mhcutn">
        <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
            <div class="table-responsive" style="height:calc(100vh - 180px); width:100%">
                <table class="table table-condensed table-bordered table-striped" style="text-align:center">
                    <thead>
                        <tr>
                            <th style="text-align:center;" rowspan="2">Sân bay</th>
                            <th style="text-align:center;" rowspan="2">Nhóm</th>
                            <th style="text-align:center;" colspan="2">Sản lượng (tấn)</th>
                            <th style="text-align:center;" rowspan="2">Premium</th>
                            <th style="text-align:center;" colspan="3">Chi phí cung ứng</th>
                            <th style="text-align:center;" colspan="4">Chi phí tra nạp</th>
                            <th style="text-align:center;" colspan="3">Đơn giá</th>
                        </tr>
                        <tr>
                            <th style="text-align:center;">Cung ứng</th>
                            <th style="text-align:center;">Tra nạp</th>
                            <th style="text-align:center;">Chi phí</th>
                            <th style="text-align:center;">HHCƯ</th>
                            <th style="text-align:center;">Cộng</th>
                            <th style="text-align:center;">Chi phí</th>
                            <th style="text-align:center;">HHTN XE</th>
                            <th style="text-align:center;">HHTNN</th>
                            <th style="text-align:center;">Cộng</th>
                            <th style="text-align:center;">VNA+VASCO</th>
                            <th style="text-align:center;">HKVN#</th>
                            <th style="text-align:center;">HKNN</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MuaHangCungUngTraNapData)
                        {
                            <tr>
                                <td>@item.SanBayCode</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>@item.Premium.ToStringVN()</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
