@model SMO.Models.DataCenterModel
@using SMO.Models;

<ul class="nav nav-tabs" role="tablist" style="width: 100%; display: flex;">
    <li role="presentation" class="active" style="cursor: pointer;">
        <a href="#pre-kho-1" title="Kế hoạch theo tháng" data-toggle="tab">KH Nhập nhiên liệu</a>
    </li>
</ul>
<div class="tab-content" style="padding-bottom:0">
    <div role="tabpanel" class="tab-pane fade in active" id="pre-kho-1">
        <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
            <div class="table-responsive" style="height:calc(100vh - 180px); width:100%">
                <table class="table table-condensed table-bordered table-striped" style="text-align:center">
                    <thead>
                        <tr>
                            <th rowspan="2">Kho đầu nguồn</th>
                            <th rowspan="2">Khu vực</th>
                            <th rowspan="2">ĐK giao hàng</th>
                            <th colspan="2" class="align-center">Tỷ lệ nhập</th>
                            <th rowspan="2">Platt's ($/thùng)</th>
                            <th colspan="2" class="align-center">Premium</th>
                            <th rowspan="2">CFR ($/thùng)</th>
                            <th rowspan="2">Thùng/tấn</th>
                            <th rowspan="2">Giá CFR ($/tấn)</th>
                            <th rowspan="2">Bảo hiểm ($/tấn)</th>
                            <th colspan="2" class="align-center">Thuế NK</th>
                            <th rowspan="2">CIF + tấn ($/tấn)</th>
                            <th rowspan="2">CIF + tấn ($/tấn) BQ</th>
                            <th rowspan="2">CIF + tấn ($/tấn) BQ</th>
                            <th rowspan="2">Pre + BH ($/thùng)</th>
                            <th rowspan="2"></th>
                            <th rowspan="2">Giảm trừ thuế hàng <br /> Dung Quất + Form D</th>
                        </tr>
                        <tr>
                            <th>Tỷ lệ nhập theo kho</th>
                            <th>SL nhập theo kho</th>
                            <th>Hàng (thùng)</th>
                            <th>Tàu</th>
                            <th>Thuế suất</th>
                            <th>Thuế ($/tấn)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.KeHoachGiaThanhData.OrderBy(x => x.AreaCode).ThenBy(x => x.Warehouse))
                        {
                            if (item.S0001 == 0 && item.S0002 == 0 && item.U0001 == 0 && item.S0003 == 0 && item.S0004 == 0
                                && item.U0002 == 0 && item.S0005 == 0 && item.U0003 == 0 && item.S0006 == 0 && item.S0007 == 0
                                && item.U0004 == 0 && item.U0005 == 0 && item.U0006 == 0 && item.U0007 == 0 && item.U0008 == 0
                                && item.U0009 == 0 && item.U0010 == 0)
                            {
                                continue;
                            }
                            <tr>
                                <td>@item.Warehouse</td>
                                <td>@item.AreaCode</td>
                                <td>@item.DeliveryConditions</td>
                                <td>@item.S0001.ToStringVN()</td>
                                <td>@item.S0002.ToStringVN()</td>
                                <td>@item.U0001.ToStringVN()</td>
                                <td>@item.S0003.ToStringVN()</td>
                                <td>@item.S0004.ToStringVN()</td>
                                <td>@item.U0002.ToStringVN()</td>
                                <td>@item.S0005.ToStringVN()</td>
                                <td>@item.U0003.ToStringVN()</td>
                                <td>@item.S0006.ToStringVN()</td>
                                <td>@item.S0007.ToStringVN()</td>
                                <td>@item.U0004.ToStringVN()</td>
                                <td>@item.U0005.ToStringVN()</td>
                                <td>@item.U0006.ToStringVN()</td>
                                <td>@item.U0007.ToStringVN()</td>
                                <td>@item.U0008.ToStringVN()</td>
                                <td>@item.U0009.ToStringVN()</td>
                                <td>@item.U0010.ToStringVN()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
</div>
