<style>
    .col-md-12 {
        margin-bottom: 10px !important
    }

    .scroll_bc::-webkit-scrollbar {
        width:4px;
    }

    .scroll_bc::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
    }


</style>
<div class="col-md-12">
    <div class="row">
        @if (AuthorizeUtilities.CheckUserRight("R5.1") || AuthorizeUtilities.CheckUserRight("R5.2") || AuthorizeUtilities.CheckUserRight("R5.3") || AuthorizeUtilities.CheckUserRight("R0"))
        {
            <div class="col-md-4" style="margin-top: 3px; padding: 6px">
                <div class="card">
                    <div class="body" style="padding: 12px 22px; height: 250px;">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a style="padding-top: 0px !important;" class="text-uppercase">BÁO CÁO SẢN LƯỢNG</a>
                            </li>
                        </ul>
                        <div class="p-t-10 p-b-10">
                            <div class="row">
                                @if (AuthorizeUtilities.CheckUserRight("R5.1") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexSanLuong", "BP/Report", new { slug = 1 })')">
                                        <i class="material-icons">notes</i> Kế hoạch sản lượng theo tháng
                                    </div>
                                }
                                @if (AuthorizeUtilities.CheckUserRight("R5.2") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexSanLuong", "BP/Report", new { slug = 2 })')">
                                        <i class="material-icons">notes</i> Kế hoạch sản lượng theo chi nhánh
                                    </div>
                                }
                                @if (AuthorizeUtilities.CheckUserRight("R5.3") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexSanLuong", "BP/Report", new { slug = 3 })')">
                                        <i class="material-icons">notes</i> Kế hoạch sản lượng theo sân bay
                                    </div>
                                }
                                @if (AuthorizeUtilities.CheckUserRight("R5.3") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexSanLuong", "BP/Report", new { slug = 4 })')">
                                        <i class="material-icons">notes</i> Kế hoạch sản lượng tra nạp cung ứng
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (AuthorizeUtilities.CheckUserRight("R5.4") || AuthorizeUtilities.CheckUserRight("R5.5") || AuthorizeUtilities.CheckUserRight("R5.6") || AuthorizeUtilities.CheckUserRight("R0"))
        {
            <div class="col-md-4" style="margin-top: 3px; padding: 6px">
                <div class="card">
                    <div class="body" style="padding: 12px 22px; height: 250px;">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a style="padding-top: 0px !important;" class="text-uppercase">BÁO CÁO DOANH THU</a>
                            </li>
                        </ul>
                        <div class="p-t-10 p-b-5">
                            <div class="row">
                                @if (AuthorizeUtilities.CheckUserRight("R5.4") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexDoanhThu", "BP/Report")')">
                                        <i class="material-icons">notes</i> Kế hoạch doanh thu theo tháng
                                    </div>
                                }
                                @if (AuthorizeUtilities.CheckUserRight("R5.5") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexDoanhThuTheoPhi", "BP/Report")')">
                                        <i class="material-icons">notes</i> Kế hoạch doanh thu theo yếu tố phí
                                    </div>
                                }
                                @if (AuthorizeUtilities.CheckUserRight("R5.6") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexTraNapCungUng", "BP/Report")')">
                                        <i class="material-icons">notes</i> Kế hoạch doanh thu tra nạp cung ứng
                                    </div>
                                }
                                @if (AuthorizeUtilities.CheckUserRight("R5.6") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexReportCompaseDT", "BP/Report")')">
                                        <i class="material-icons">notes</i> Kế hoạch so sánh doanh thu
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }

        @if (AuthorizeUtilities.CheckUserRight("R5.7") || AuthorizeUtilities.CheckUserRight("R5.8") || AuthorizeUtilities.CheckUserRight("R0"))
        {
            <div class="col-md-4" style="margin-top: 3px; padding: 6px">
                <div class="card">
                    <div class="body" style="padding: 12px 22px; height: 250px; ">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a style="padding-top: 0px !important;" class="text-uppercase">BÁO CÁO GIÁ VỐN</a>
                            </li>
                        </ul>
                        <div class="p-t-10 p-b-5">
                            <div class="row">
                                @if (AuthorizeUtilities.CheckUserRight("R5.7") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexKeHoachGiaVon", "MD/Element", new {slug =1})')">
                                        <i class="material-icons">notes</i> Kế hoạch nhập nhiên liệu
                                    </div>
                                }
                                @if (AuthorizeUtilities.CheckUserRight("R5.8") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexKeHoachGiaVon", "MD/Element", new {slug = 2})')">
                                        <i class="material-icons">notes</i> Kế hoạch giá vốn
                                    </div>
                                }
                                @if (AuthorizeUtilities.CheckUserRight("R5.8") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexKeHoachGiaVon", "MD/Element", new {slug = 3})')">
                                        <i class="material-icons">notes</i> Kế hoạch giá vốn theo tháng
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


        @if (AuthorizeUtilities.CheckUserRight("R5.9") || AuthorizeUtilities.CheckUserRight("R5.10") || AuthorizeUtilities.CheckUserRight("R5.11") || AuthorizeUtilities.CheckUserRight("R5.12") || AuthorizeUtilities.CheckUserRight("R5.15") || AuthorizeUtilities.CheckUserRight("R0"))
        {
            <div class="col-md-4" style="margin-top: 3px; padding: 6px">
                <div class="card">
                    <div class="body" style="padding: 12px 22px; height: 290px;">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a style="padding-top: 0px !important;" class="text-uppercase">BÁO CÁO CÔNG TY, CHI NHÁNH</a>
                            </li>
                        </ul>
                        <div class="p-t-10 p-b-5">
                            <div class="row">
                                @if (AuthorizeUtilities.CheckUserRight("R5.9") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexKeHoachTongHop", "BP/Report")')">
                                        <i class="material-icons">notes</i> Tổng hợp kế hoạch chi nhánh
                                    </div>
                                }
                                @if (AuthorizeUtilities.CheckUserRight("R5.10") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexReportChiPhi", "BP/Report")')">
                                        <i class="material-icons">notes</i> Tổng hợp kế hoạch chi phí
                                    </div>
                                }
                                @if (AuthorizeUtilities.CheckUserRight("R5.15") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexDauTu", "BP/Report")')">
                                        <i class="material-icons">notes</i> Tổng hợp kế hoạch đầu tư
                                    </div>
                                }
                                @if (AuthorizeUtilities.CheckUserRight("R5.11") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexSuaChuaLon", "BP/Report")')">
                                        <i class="material-icons">notes</i> Tổng hợp kế hoạch sửa chữa lớn
                                    </div>
                                }
                                @if (AuthorizeUtilities.CheckUserRight("R5.12") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexSuaChuaThuongXuyen", "BP/Report")')">
                                        <i class="material-icons">notes</i> Tổng hợp kế hoạch sửa chữa thường xuyên
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (AuthorizeUtilities.CheckUserRight("R5.13") || AuthorizeUtilities.CheckUserRight("R5.14") || AuthorizeUtilities.CheckUserRight("R0"))
        {
            <div class="col-md-4" style="margin-top: 3px; padding: 6px">
                <div class="card">
                    <div class="body scroll_bc" style="padding: 12px 22px; height: 290px; overflow-y:scroll; overflow-x:hidden;">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a style="padding-top: 0px !important;" class="text-uppercase">BÁO CÁO TỔNG CÔNG TY</a>
                            </li>
                        </ul>

                        <div class="p-t-10 p-b-5">
                            <div class="row">
                                @if (AuthorizeUtilities.CheckUserRight("R5.13") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexPhienBan", "BP/Report")')">
                                        <i class="material-icons">notes</i> Kế hoạch sản xuất kinh doanh
                                    </div>
                                }
                                @if (AuthorizeUtilities.CheckUserRight("R5.14") || AuthorizeUtilities.CheckUserRight("R0"))
                                {
                                    <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexKichBan", "BP/Report")')">
                                        <i class="material-icons">notes</i> Kế hoạch SXKD theo các kịch bản
                                    </div>
                                }
                                <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexBM01D", "BP/Report")')">
                                    <i class="material-icons">notes</i> Ước tình hình thực hiện đầu tư vào các dự án hình thành TSCĐ
                                </div>
                                <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexBM01E", "BP/Report")')">
                                    <i class="material-icons">notes</i> Tình hình đầu tư vốn ra ngoài doanh nghiệp
                                </div>
                                <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexBM02A", "BP/Report")')">
                                    <i class="material-icons">notes</i> Kế hoạch đầu tư XDCB và TTB năm kế hoạch
                                </div>
                                <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexBM02B", "BP/Report")')">
                                    <i class="material-icons">notes</i> Kế hoạch đầu tư vốn ra ngoài doanh nghiệp năm kế hoạch.
                                </div>
                                <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexBM02C", "BP/Report")')">
                                    <i class="material-icons">notes</i> Kế hoạch hiệu quả từng lĩnh vực kinh doanh của doanh nghiệp
                                </div>
                                <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexBM02C1", "BP/Report")')">
                                    <i class="material-icons">notes</i> Hiệu quả từng lĩnh vực kinh doanh của doanh nghiệp các kịch bản
                                </div>
                                <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexBM02D", "BP/Report")')">
                                    <i class="material-icons">notes</i> Các khoản mục sản lượng, doanh thu, chi phí UTH
                                </div>
                                <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexBM02D1", "BP/Report")')">
                                    <i class="material-icons">notes</i> Các khoản mục sản lượng, doanh thu, chi phí UTH theo kịch bản
                                </div>
                                <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexBM02D2", "BP/Report")')">
                                    <i class="material-icons">notes</i> Biến động ảnh hưởng đến SXKD của các DN qua các năm
                                </div>
                                <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexCKP", "BP/Report")')">
                                    <i class="material-icons">notes</i> Báo cáo cấp kinh phí hàng tháng cho các đơn vị
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (AuthorizeUtilities.CheckUserRight("R5.13") || AuthorizeUtilities.CheckUserRight("R5.14") || AuthorizeUtilities.CheckUserRight("R0"))
        {
            <div class="col-md-4" style="margin-top: 3px; padding: 6px">
                <div class="card">
                    <div class="body" style="padding: 12px 22px; height: 290px;">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a style="padding-top: 0px !important;" class="text-uppercase">BÁO CÁO SO SÁNH THỰC HIỆN - KẾ HOẠCH</a>
                            </li>
                        </ul>

                        <div class="p-t-10 p-b-5">
                            <div class="row">
                                <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexBM2107", "BP/Report")')">
                                    <i class="material-icons">notes</i> Báo cáo tình hình thực hiện đầu tư có xây dựng
                                </div>
                                <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexBM2108", "BP/Report")')">
                                    <i class="material-icons">notes</i> Báo cáo tình hình thực hiện đầu tư không có xây dựng
                                </div>
                                <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexBM2109", "BP/Report")')">
                                    <i class="material-icons">notes</i> Báo cáo tình hình thực hiện sửa chữa lớn TSCĐ
                                </div>
                                <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexBM2110", "BP/Report")')">
                                    <i class="material-icons">notes</i> Báo cáo tình hình thực hiện các chỉ tiêu tổng hợp kế hoạch chi phí
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
