<style>
    .col-md-12{
        margin-bottom: 6px !important
    }
</style>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4" style="margin-top: 3px; padding: 6px">
            <div class="card">
                <div class="body" style="padding: 12px 22px; height: 200px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a style="padding-top: 0px !important;" class="text-uppercase">BÁO CÁO SẢN LƯỢNG</a>
                        </li>
                    </ul>
                    <div class="p-t-10 p-b-5">
                        <div class="row">
                            <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexSanLuong", "BP/Report", new {slug = 1})')">
                                <i class="material-icons">notes</i> Kế hoạch sản lượng theo tháng
                            </div>
                            <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexSanLuong", "BP/Report", new {slug = 2})')">
                                <i class="material-icons">notes</i> Kế hoạch sản lượng theo chi nhánh
                            </div>
                            <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexSanLuong", "BP/Report", new {slug = 3})')">
                                <i class="material-icons">notes</i> Kế hoạch sản lượng theo sân bay
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="margin-top: 3px; padding: 6px">
            <div class="card">
                <div class="body" style="padding: 12px 22px; height: 200px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a style="padding-top: 0px !important;" class="text-uppercase">BÁO CÁO DOANH THU</a>
                        </li>
                    </ul>
                    <div class="p-t-10 p-b-5">
                        <div class="row">
                            <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexDoanhThu", "BP/Report")')">
                                <i class="material-icons">notes</i> Kế hoạch doanh thu theo tháng
                            </div>
                            <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexDoanhThuTheoPhi", "BP/Report")')">
                                <i class="material-icons">notes</i> Kế hoạch doanh thu theo yếu tố phí
                            </div>
                            <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexTraNapCungUng", "BP/Report")')">
                                <i class="material-icons">notes</i> Kế hoạch doanh thu tra nạp cung ứng
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4" style="margin-top: 3px; padding: 6px">
            <div class="card">
                <div class="body" style="padding: 12px 22px; height: 200px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a style="padding-top: 0px !important;" class="text-uppercase">BÁO CÁO GIÁ VỐN</a>
                        </li>
                    </ul>
                    <div class="p-t-10 p-b-5">
                        <div class="row">
                            <div class="btn btn-default col-md-12" style="text-align: left;">
                                <i class="material-icons">notes</i> Kế hoạch nhập nhiên liệu
                            </div>
                            <div class="btn btn-default col-md-12" style="text-align: left;">
                                <i class="material-icons">notes</i> Kế hoạch giá vốn
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="margin-top: 3px; padding: 6px">
            <div class="card">
                <div class="body" style="padding: 12px 22px; height: 290px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a style="padding-top: 0px !important;" class="text-uppercase">BÁO CÁO CÔNG TY, CHI NHÁNH</a>
                        </li>
                    </ul>
                    <div class="p-t-10 p-b-5">
                        <div class="row">
                            <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexKeHoachTongHop", "BP/Report")')">
                                <i class="material-icons">notes</i> Tổng hợp kế hoạch chi nhánh
                            </div>
                            <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexReportChiPhi", "BP/Report")')">
                                <i class="material-icons">notes</i> Tổng hợp kế hoạch chi phí
                            </div>
                            <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexDauTu", "BP/Report")')">
                                <i class="material-icons">notes</i> Tổng hợp kế hoạch đầu tư
                            </div>
                            <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexSuaChuaLon", "BP/Report")')">
                                <i class="material-icons">notes</i> Tổng hợp kế hoạch sửa chữa lớn
                            </div>
                            <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexSuaChuaThuongXuyen", "BP/Report")')">
                                <i class="material-icons">notes</i> Tổng hợp kế hoạch sửa chữa thường xuyên
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 3px; padding: 6px">
            <div class="card">
                <div class="body" style="padding: 12px 22px; height: 290px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a style="padding-top: 0px !important;" class="text-uppercase">BÁO CÁO TỔNG CÔNG TY</a>
                        </li>
                    </ul>

                    <div class="p-t-10 p-b-5">
                        <div class="row">
                            <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexPhienBan", "BP/Report")')">
                                <i class="material-icons">notes</i> Kế hoạch sản xuất kinh doanh
                            </div>
                            <div class="btn btn-default col-md-12" style="text-align: left;" onclick="Forms.LoadAjax('@Url.Action("IndexKichBan", "BP/Report")')">
                                <i class="material-icons">notes</i> Kế hoạch SXKD theo các kịch bản
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
