@{
    var title = "";
    if (ViewBag.Modul == "1")
    {
        title = "DỮ LIỆU KẾ HOẠCH";
    }
    else if (ViewBag.Modul == "2")
    {
        title = "TỔNG KIỂM SOÁT DỮ LIỆU";
    }
    else if (ViewBag.Modul == "3")
    {
        title = "THẨM ĐỊNH DỮ LIỆU";
    }
}

<style>
    .info-box-3 {
        height: 86px;
    }
</style>

<div class="container-fluid child-content">
    
    <div class="card ">
        <h4 class="align-center m-b-15">@title</h4>
        <div class="body" style="padding: 0px 22px;">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a style="padding-top: 0px !important;" class="text-uppercase"><i class="material-icons col-fecon">clear_all</i>KẾ HOẠCH SẢN LƯỢNG, DOANH THU, CHI PHÍ</a>
                </li>
            </ul>

            <div class="p-t-10 p-b-5">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:0px">
                        <div class="info-box-3  hover-zoom-effect"
                             onclick="Forms.LoadAjax('@Url.Action("Index", "BP/KeHoachSanLuong")')">
                            <div class="icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <div class="content">
                                <div class="text" style="margin-top: 25px;">KẾ HOẠCH SẢN LƯỢNG</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:0px">
                        <div class="info-box-3  hover-zoom-effect"
                             onclick="Forms.LoadAjax('@Url.Action("Index", "BP/KeHoachDoanhThu")')">
                            <div class="icon">
                                <i class="material-icons">payment</i>
                            </div>
                            <div class="content">
                                <div class="text" style="margin-top: 25px;">KẾ HOẠCH DOANH THU</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:0px">
                        <div class="info-box-3  hover-zoom-effect"
                             onclick="Forms.LoadAjax('@Url.Action("Index", "MD/Template", new { objectType = TemplateObjectType.Department, budgetType = BudgetType.DongTien, elementType = ElementType.ChiPhi})')">
                            <div class="icon">
                                <i class="material-icons">monetization_on</i>
                            </div>
                            <div class="content">
                                <div class="text" style="margin-top: 25px;">KẾ HOẠCH CHI PHÍ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:0px">
                        <div class="info-box-3  hover-zoom-effect"
                             onclick="Forms.LoadAjax('@Url.Action("Index", "MD/Template", new { objectType = TemplateObjectType.Department, budgetType = BudgetType.DongTien, elementType = ElementType.ChiPhi})')">
                            <div class="icon">
                                <i class="material-icons">local_shipping</i>
                            </div>
                            <div class="content">
                                <div class="text" style="margin-top: 25px;">KẾ HOẠCH VẬN CHUYỂN</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card  m-t-10" style="margin-top:0px">
        <div class="body" style="padding: 0px 22px;">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a style="padding-top: 0px !important;" class="text-uppercase"><i class="material-icons col-fecon">clear_all</i>KẾ HOẠCH ĐẦU TƯ</a>
                </li>
            </ul>

            <div class="p-t-10 p-b-5">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:0px">
                        <div class="info-box-3  hover-zoom-effect"
                             onclick="Forms.LoadAjax('@Url.Action("Index", "BP/DauTuXayDung")')">
                            <div class="icon">
                                <i class="material-icons">store</i>
                            </div>
                            <div class="content">
                                <div class="text" style="margin-top: 25px;">ĐẦU TƯ CÓ XÂY DỰNG</div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:0px">
                        <div class="info-box-3  hover-zoom-effect"
                             onclick="Forms.LoadAjax('@Url.Action("Index", "BP/DauTuTrangThietBi")')">
                            <div class="icon">
                                <i class="material-icons">build</i>
                            </div>
                            <div class="content">
                                <div class="text" style="margin-top: 25px;">ĐẦU TƯ TRANG THIẾT BỊ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:0px">
                        <div class="info-box-3  hover-zoom-effect"
                             onclick="Forms.LoadAjax('@Url.Action("Index", "MD/Template", new { objectType = TemplateObjectType.Project, budgetType = BudgetType.DongTien, elementType = ElementType.DoanhThu})')">
                            <div class="icon">
                                <i class="material-icons">domain</i>
                            </div>
                            <div class="content">
                                <div class="text" style="margin-top: 25px;">ĐẦU TƯ NGOÀI DOANH NGHIỆP</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card  m-t-10" style="margin-top:0px">
        <div class="body" style="padding: 0px 22px;">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a style="padding-top: 0px !important;" class="text-uppercase"><i class="material-icons col-fecon">clear_all</i>KẾ HOẠCH SỬA CHỮA</a>
                </li>
            </ul>

            <div class="p-t-10 p-b-5">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:0px">
                        <div class="info-box-3  hover-zoom-effect"
                             onclick="Forms.LoadAjax('@Url.Action("Index", "MD/Template", new { objectType = TemplateObjectType.DevelopProject, budgetType = BudgetType.DongTien, elementType = ElementType.ChiPhi})')">
                            <div class="icon">
                                <i class="material-icons">attractions</i>
                            </div>
                            <div class="content">
                                <div class="text" style="margin-top: 25px;">KẾ HOẠCH SỬA CHỮA LỚN</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:0px">
                        <div class="info-box-3  hover-zoom-effect"
                             onclick="Forms.LoadAjax('@Url.Action("Index", "MD/Template", new { objectType = TemplateObjectType.DevelopProject, budgetType = BudgetType.DongTien, elementType = ElementType.ChiPhi})')">
                            <div class="icon">
                                <i class="material-icons">settings</i>
                            </div>
                            <div class="content">
                                <div class="text" style="margin-top: 16px;">KẾ HOẠCH SỬA CHỮA <br />THƯỜNG XUYÊN</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card  m-t-10" style="margin-top:0px">
        <div class="body" style="padding: 0px 22px;">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a style="padding-top: 0px !important;" class="text-uppercase"><i class="material-icons col-fecon">clear_all</i>KẾ HOẠCH GIÁ THÀNH</a>
                </li>
            </ul>

            <div class="p-t-10 p-b-5">
                <div class="row" style="margin-bottom: 24px;">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:0px">
                        <div class="info-box-3  hover-zoom-effect"
                             onclick="Forms.LoadAjax('@Url.Action("Index", "MD/Template", new { objectType = TemplateObjectType.DevelopProject, budgetType = BudgetType.DongTien, elementType = ElementType.ChiPhi})')">
                            <div class="icon">
                                <i class="material-icons">help</i>
                            </div>
                            <div class="content">
                                <div class="text" style="margin-top: 25px;">ĐỊNH NGHĨA</div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:0px">
                        <div class="info-box-3  hover-zoom-effect"
                             onclick="Forms.LoadAjax('@Url.Action("Index", "MD/Template", new { objectType = TemplateObjectType.Project, budgetType = BudgetType.DongTien, elementType = ElementType.ChiPhi})')">
                            <div class="icon">
                                <i class="material-icons">functions</i>
                            </div>
                            <div class="content">
                                <div class="text" style="margin-top: 25px;">TÍNH TOÁN GIÁ THÀNH</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:0px">
                        <div class="info-box-3  hover-zoom-effect"
                             onclick="Forms.LoadAjax('@Url.Action("Index", "MD/Template", new { objectType = TemplateObjectType.Project, budgetType = BudgetType.DongTien, elementType = ElementType.DoanhThu})')">
                            <div class="icon">
                                <i class="material-icons">local_atm</i>
                            </div>
                            <div class="content">
                                <div class="text" style="margin-top: 25px;">KẾ HOẠCH GIÁ VỐN</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
