@model IList<T_MD_KHOAN_MUC_DOANH_THU>
@using SMO.Core.Entities.BP.KE_HOACH_DOANH_THU;
@using SMO.Core.Entities.MD;
@using SMO.Service.Class;

@{
    var detailCostElements = ViewBag.detailCostElements as IList<T_MD_TEMPLATE_DETAIL_KE_HOACH_DOANH_THU>;
    var costCFHeader = ViewBag.costCFHeader as T_BP_KE_HOACH_DOANH_THU_VERSION;
    var dataCenterModel = ViewBag.dataCenterModel as ViewDataCenterModel;
    var lstSanBay = SelectListUtilities.GetListSanBay();
}

<style>
    .header-year {
        background-color: #FFFFFF !important;
    }

    td {
        overflow: hidden;
    }

    .resize-col {
        resize: horizontal;
        overflow: hidden;
        display: block;
    }

    .table-screen {
        height: calc(100vh - 212px);
        margin-bottom: 0
    }

    .full-screen-table {
        height: calc(100vh -100px) !important;
    }
</style>

@if (Model == null || Model.Count == 0 ||
    detailCostElements == null || detailCostElements.Count == 0 || costCFHeader == null)
{
    Html.RenderPartial("_NothingData");
}
else
{
    Html.RenderPartial("_PartialViewSearchAndDetail", dataCenterModel);
    <div class="export-left-tab">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" style="cursor: pointer; left: 0;">
                <a href="#san-luong-tong" data-toggle="tab">Kế hoạch tổng</a>
            </li>
            <li role="presentation" style="cursor: pointer;">
                <a data-toggle="tab" href="#san-luong-noi-dia">Tra nạp nội địa</a>
            </li>
            <li role="presentation" style="cursor: pointer;">
                <a data-toggle="tab" href="#san-luong-quoc-te">Tra nạp quốc tế</a>
            </li>
            <li role="presentation" style="cursor: pointer; left: 0;">
                <a href="#doanh-thu-tong" title="Kế hoạch theo tháng" data-toggle="tab">Doanh thu tổng</a>
            </li>
            <li role="presentation" style="cursor: pointer;">
                <a data-toggle="tab" href="#doanh-thu-noi-dia">Doanh thu nội địa</a>
            </li>
            <li role="presentation" style="cursor: pointer;">
                <a data-toggle="tab" href="#doanh-thu-quoc-te">Doanh thu quốc tế</a>
            </li>
        </ul>
        <div class="tab-content" style="padding-bottom:0">
            <div role="tabpanel" class="tab-pane fade in active" id="san-luong-tong">
                <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
                    <table class="table-condensed table-bordered table-striped font-13 table-zoom" id="table_ke_hoach_tong">
                        <tbody>
                            <tr class="sticky-row strong" data-xls-row="header">
                                <td class="sticky-cell pre-whitespace" style="z-index:11">MÃ SÂN BAY</td>
                                <td class="sticky-cell pre-whitespace" style="z-index:11">MÃ HHK</td>
                                <td class="sticky-cell pre-whitespace" style="z-index:11">TÊN KHOẢN MỤC</td>
                                <td class="pre-whitespace">THÁNG 1</td>
                                <td class="pre-whitespace">THÁNG 2</td>
                                <td class="pre-whitespace">THÁNG 3</td>
                                <td class="pre-whitespace">THÁNG 4</td>
                                <td class="pre-whitespace">THÁNG 5</td>
                                <td class="pre-whitespace">THÁNG 6</td>
                                <td class="pre-whitespace">THÁNG 7</td>
                                <td class="pre-whitespace">THÁNG 8</td>
                                <td class="pre-whitespace">THÁNG 9</td>
                                <td class="pre-whitespace">THÁNG 10</td>
                                <td class="pre-whitespace">THÁNG 11</td>
                                <td class="pre-whitespace">THÁNG 12</td>
                                <td class="pre-whitespace">TỔNG NĂM</td>
                                <td class="pre-whitespace">TỔNG NĂM (DP)</td>
                                <td class="pre-whitespace">TRUNG BÌNH THÁNG</td>
                            </tr>

                            @foreach (var detail in detailCostElements.GroupBy(x => x.CENTER_CODE).Select(x => x.First()).OrderBy(x => x.Center.SanBay.CODE).ThenBy(x => x.Center.HangHangKhong.CODE))
                            {
                                foreach (var item in Model
                                    .Where(x => x.CENTER_CODE == detail.CENTER_CODE)
                                    .OrderBy(x => x.C_ORDER)
                                    .GroupBy(x => x.CODE)
                                    .Select(x => x.First()))
                                {
                                    if (item.IS_GROUP)
                                    {
                                        <tr>
                                            <td class="sticky-cell pre-whitespace">@detail.Center.SAN_BAY_CODE</td>
                                            <td class="sticky-cell pre-whitespace">@detail.Center.HANG_HANG_KHONG_CODE</td>
                                            <td class="pre-whitespace sticky-cell">@(item.NAME)</td>
                                            <td class="pre-whitespace">@item.Values[0].ToStringVN()</td>
                                            <td class="pre-whitespace">@item.Values[1].ToStringVN()</td>
                                            <td class="pre-whitespace">@item.Values[2].ToStringVN()</td>
                                            <td class="pre-whitespace">@item.Values[3].ToStringVN()</td>
                                            <td class="pre-whitespace">@item.Values[4].ToStringVN()</td>
                                            <td class="pre-whitespace">@item.Values[5].ToStringVN()</td>
                                            <td class="pre-whitespace">@item.Values[6].ToStringVN()</td>
                                            <td class="pre-whitespace">@item.Values[7].ToStringVN()</td>
                                            <td class="pre-whitespace">@item.Values[8].ToStringVN()</td>
                                            <td class="pre-whitespace">@item.Values[9].ToStringVN()</td>
                                            <td class="pre-whitespace">@item.Values[10].ToStringVN()</td>
                                            <td class="pre-whitespace">@item.Values[11].ToStringVN()</td>
                                            <td class="align-right pre-whitespace">@item.Values[12].ToStringVN()</td>
                                            <td class="align-right pre-whitespace">@item.Values[13].ToStringVN()</td>
                                            <td class="align-right pre-whitespace">@((item.Values[12] / 12).ToStringVN())</td>
                                        </tr>
                                    }

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="san-luong-noi-dia">
                <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
                    <table class="table-condensed table-bordered table-striped font-13 table-zoom" id="table_doanh_thu_noi_dia">
                        <tbody>
                            <tr class="sticky-row strong" data-xls-row="header">
                                <td class="sticky-cell pre-whitespace" style="z-index:11">MÃ SÂN BAY</td>
                                <td class="sticky-cell pre-whitespace" style="z-index:11">MÃ HHK</td>
                                <td class="sticky-cell pre-whitespace" style="z-index:11">TÊN KHOẢN MỤC</td>
                                <td class="pre-whitespace">THÁNG 1</td>
                                <td class="pre-whitespace">THÁNG 2</td>
                                <td class="pre-whitespace">THÁNG 3</td>
                                <td class="pre-whitespace">THÁNG 4</td>
                                <td class="pre-whitespace">THÁNG 5</td>
                                <td class="pre-whitespace">THÁNG 6</td>
                                <td class="pre-whitespace">THÁNG 7</td>
                                <td class="pre-whitespace">THÁNG 8</td>
                                <td class="pre-whitespace">THÁNG 9</td>
                                <td class="pre-whitespace">THÁNG 10</td>
                                <td class="pre-whitespace">THÁNG 11</td>
                                <td class="pre-whitespace">THÁNG 12</td>
                                <td class="pre-whitespace">TỔNG NĂM</td>
                                <td class="pre-whitespace">TỔNG NĂM (DP)</td>
                                <td class="pre-whitespace">TRUNG BÌNH THÁNG</td>
                            </tr>
                            @foreach (var detail in detailCostElements.GroupBy(x => x.CENTER_CODE).Select(x => x.First()).OrderBy(x => x.Center.SanBay.CODE).ThenBy(x => x.Center.HangHangKhong.CODE))
                            {
                                foreach (var item in Model
                                    .Where(x => x.CENTER_CODE == detail.CENTER_CODE).Where(x => x.CODE == "10010" || x.CODE == "2001")
                                    .OrderBy(x => x.C_ORDER)
                                    .GroupBy(x => x.CODE)
                                    .Select(x => x.First()))
                                {
                                    <tr>
                                        <td class="sticky-cell pre-whitespace">@detail.Center.SAN_BAY_CODE</td>
                                        <td class="sticky-cell pre-whitespace">@detail.Center.HANG_HANG_KHONG_CODE</td>
                                        <td class="pre-whitespace sticky-cell">@(item.NAME)</td>
                                        <td class="pre-whitespace">@item.Values[0].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[1].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[2].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[3].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[4].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[5].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[6].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[7].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[8].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[9].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[10].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[11].ToStringVN()</td>
                                        <td class="align-right pre-whitespace">@item.Values[12].ToStringVN()</td>
                                        <td class="align-right pre-whitespace">@item.Values[13].ToStringVN()</td>
                                        <td class="align-right pre-whitespace">@((item.Values[12] / 12).ToStringVN())</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="san-luong-quoc-te">
                <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
                    <table class="table-condensed table-bordered table-striped font-13 table-zoom" id="table_doanh_thu_quoc_te">
                        <tbody>
                            <tr class="sticky-row strong" data-xls-row="header">
                                <td class="sticky-cell pre-whitespace" style="z-index:11">MÃ SÂN BAY</td>
                                <td class="sticky-cell pre-whitespace" style="z-index:11">MÃ HHK</td>
                                <td class="sticky-cell pre-whitespace" style="z-index:11">TÊN KHOẢN MỤC</td>
                                <td class="pre-whitespace">THÁNG 1</td>
                                <td class="pre-whitespace">THÁNG 2</td>
                                <td class="pre-whitespace">THÁNG 3</td>
                                <td class="pre-whitespace">THÁNG 4</td>
                                <td class="pre-whitespace">THÁNG 5</td>
                                <td class="pre-whitespace">THÁNG 6</td>
                                <td class="pre-whitespace">THÁNG 7</td>
                                <td class="pre-whitespace">THÁNG 8</td>
                                <td class="pre-whitespace">THÁNG 9</td>
                                <td class="pre-whitespace">THÁNG 10</td>
                                <td class="pre-whitespace">THÁNG 11</td>
                                <td class="pre-whitespace">THÁNG 12</td>
                                <td class="pre-whitespace">TỔNG NĂM</td>
                                <td class="pre-whitespace">TỔNG NĂM (DP)</td>
                                <td class="pre-whitespace">TRUNG BÌNH THÁNG</td>
                            </tr>
                            @foreach (var detail in detailCostElements.GroupBy(x => x.CENTER_CODE).Select(x => x.First()).OrderBy(x => x.Center.SanBay.CODE).ThenBy(x => x.Center.HangHangKhong.CODE))
                            {
                                foreach (var item in Model
                                    .Where(x => x.CENTER_CODE == detail.CENTER_CODE).Where(x => x.CODE == "10020" || x.CODE == "2002")
                                    .OrderBy(x => x.C_ORDER)
                                    .GroupBy(x => x.CODE)
                                    .Select(x => x.First()))
                                {
                                    <tr>
                                        <td class="sticky-cell pre-whitespace">@detail.Center.SAN_BAY_CODE</td>
                                        <td class="sticky-cell pre-whitespace">@detail.Center.HANG_HANG_KHONG_CODE</td>
                                        <td class="pre-whitespace sticky-cell">@(item.NAME)</td>
                                        <td class="pre-whitespace">@item.Values[0].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[1].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[2].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[3].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[4].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[5].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[6].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[7].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[8].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[9].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[10].ToStringVN()</td>
                                        <td class="pre-whitespace">@item.Values[11].ToStringVN()</td>
                                        <td class="align-right pre-whitespace">@item.Values[12].ToStringVN()</td>
                                        <td class="align-right pre-whitespace">@item.Values[13].ToStringVN()</td>
                                        <td class="align-right pre-whitespace">@((item.Values[12] / 12).ToStringVN())</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="doanh-thu-tong">
                <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
                    <table class="table-condensed table-bordered table-striped font-13 table-zoom" id="table_doanh_thu_quoc_te">
                        <tbody>
                            <tr class="sticky-row strong" data-xls-row="header">
                                <td class="sticky-cell pre-whitespace" style="z-index:11">MÃ SÂN BAY</td>
                                <td class="pre-whitespace" style="z-index:11">VN</td>
                                <td class="pre-whitespace" style="z-index:11">0V</td>
                                <td class="pre-whitespace" style="z-index:11">BL</td>
                                <td class="pre-whitespace" style="z-index:11">VJ</td>
                                <td class="pre-whitespace" style="z-index:11">QH</td>
                                <td class="pre-whitespace" style="z-index:11">VU</td>
                                <td class="pre-whitespace" style="z-index:11">HKTN#</td>
                                <td class="pre-whitespace" style="z-index:11">HKNN</td>
                                <td class="pre-whitespace" style="z-index:11">TỔNG NĂM</td>
                            </tr>
                            @foreach (var sb in lstSanBay)
                            {
                                var data = Model.Where(x => x.ProfitCenter.SAN_BAY_CODE == sb.CODE).Where(x => x.CODE == "2001" || x.CODE == "2002");
                                <tr>
                                    <td class="pre-whitespace sticky-cell">@(sb.CODE)</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "0V").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "BL").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VJ").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "QH").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VU").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE != "VN" && x.ProfitCenter.HANG_HANG_KHONG_CODE != "0V" && x.ProfitCenter.HANG_HANG_KHONG_CODE != "BL" && x.ProfitCenter.HANG_HANG_KHONG_CODE != "VJ" && x.ProfitCenter.HANG_HANG_KHONG_CODE != "QH" && x.ProfitCenter.HANG_HANG_KHONG_CODE != "VU").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HangHangKhong.TYPE == "QT").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HangHangKhong.TYPE == "QT").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Count() == 0 ? 0 : data.Sum(x => x.Values[12]))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="doanh-thu-noi-dia">
                <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
                    <table class="table-condensed table-bordered table-striped font-13 table-zoom" id="table_doanh_thu_quoc_te">
                        <tbody>
                            <tr class="sticky-row strong" data-xls-row="header">
                                <td class="sticky-cell pre-whitespace" style="z-index:11">MÃ SÂN BAY</td>
                                <td class="pre-whitespace" style="z-index:11">VN</td>
                                <td class="pre-whitespace" style="z-index:11">0V</td>
                                <td class="pre-whitespace" style="z-index:11">BL</td>
                                <td class="pre-whitespace" style="z-index:11">VJ</td>
                                <td class="pre-whitespace" style="z-index:11">QH</td>
                                <td class="pre-whitespace" style="z-index:11">VU</td>
                                <td class="pre-whitespace" style="z-index:11">HKTN#</td>
                                <td class="pre-whitespace" style="z-index:11">HKNN</td>
                                <td class="pre-whitespace" style="z-index:11">TỔNG NĂM</td>
                            </tr>
                            @foreach (var sb in lstSanBay)
                            {
                                var data = Model.Where(x => x.ProfitCenter.SAN_BAY_CODE == sb.CODE).Where(x => x.CODE == "2001");
                                <tr>
                                    <td class="pre-whitespace sticky-cell">@(sb.CODE)</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "0V").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "BL").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VJ").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "QH").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VU").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE != "VN" && x.ProfitCenter.HANG_HANG_KHONG_CODE != "0V" && x.ProfitCenter.HANG_HANG_KHONG_CODE != "BL" && x.ProfitCenter.HANG_HANG_KHONG_CODE != "VJ" && x.ProfitCenter.HANG_HANG_KHONG_CODE != "QH" && x.ProfitCenter.HANG_HANG_KHONG_CODE != "VU").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HangHangKhong.TYPE == "QT").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HangHangKhong.TYPE == "QT").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Count() == 0 ? 0 : data.Sum(x => x.Values[12]))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="doanh-thu-quoc-te">
                <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
                    <table class="table-condensed table-bordered table-striped font-13 table-zoom" id="table_doanh_thu_quoc_te">
                        <tbody>
                            <tr class="sticky-row strong" data-xls-row="header">
                                <td class="sticky-cell pre-whitespace" style="z-index:11">MÃ SÂN BAY</td>
                                <td class="pre-whitespace" style="z-index:11">VN</td>
                                <td class="pre-whitespace" style="z-index:11">0V</td>
                                <td class="pre-whitespace" style="z-index:11">BL</td>
                                <td class="pre-whitespace" style="z-index:11">VJ</td>
                                <td class="pre-whitespace" style="z-index:11">QH</td>
                                <td class="pre-whitespace" style="z-index:11">VU</td>
                                <td class="pre-whitespace" style="z-index:11">HKTN#</td>
                                <td class="pre-whitespace" style="z-index:11">HKNN</td>
                                <td class="pre-whitespace" style="z-index:11">TỔNG NĂM</td>
                            </tr>
                            @foreach (var sb in lstSanBay)
                            {
                                var data = Model.Where(x => x.ProfitCenter.SAN_BAY_CODE == sb.CODE).Where(x => x.CODE == "2002");
                                <tr>
                                    <td class="pre-whitespace sticky-cell">@(sb.CODE)</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "0V").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "BL").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VJ").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "QH").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VU").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE == "VN").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HANG_HANG_KHONG_CODE != "VN" && x.ProfitCenter.HANG_HANG_KHONG_CODE != "0V" && x.ProfitCenter.HANG_HANG_KHONG_CODE != "BL" && x.ProfitCenter.HANG_HANG_KHONG_CODE != "VJ" && x.ProfitCenter.HANG_HANG_KHONG_CODE != "QH" && x.ProfitCenter.HANG_HANG_KHONG_CODE != "VU").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Where(x => x.ProfitCenter.HangHangKhong.TYPE == "QT").Count() == 0 ? 0 : data.Where(x => x.ProfitCenter.HangHangKhong.TYPE == "QT").Sum(x => x.Values[12]))</td>
                                    <td class="pre-whitespace sticky-cell">@(data.Count() == 0 ? 0 : data.Sum(x => x.Values[12]))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).on("keyup", "#text-search-table", () => SearchTable(5, 0, 4, 5));
        function mask(e) {
            $(e).inputmask({ 'alias': 'decimal', 'groupSeparator': ',', 'digits': 3, 'autoGroup': true, 'autoUnmask': true });
        }
    </script>
}
