
@model IList<T_MD_KHOAN_MUC_DAU_TU>

@using SMO.Core.Entities.MD;
@using SMO.Core.Entities.BP.DAU_TU_NGOAI_DOANH_NGHIEP;
@using SMO.Service.Class;
@using System.Text;
@{

    var header = ViewBag.costCFHeader as T_BP_DAU_TU_NGOAI_DOANH_NGHIEP_VERSION;
    var dataCenterModel = ViewBag.dataCenterModel as ViewDataCenterModel;
}
@if (Model == null || Model.Count == 0 || header == null)
{
    Html.RenderPartial("_NothingData");
}
else
{

    var detailCostElements = ViewBag.detailCostElements as IList<T_BP_DAU_TU_NGOAI_DOANH_NGHIEP_DATA>;
    Html.RenderPartial("_PartialViewSearchAndDetail", dataCenterModel);
    <div class="sticky-table sticky-headers sticky-ltr-cells">
        <table class="table-condensed table-bordered table-striped font-13" id="table">
            <tbody>
                <tr class="sticky-row" data-xls-row="header">
                    <td class="align-center strong">Mã khoản mục</td>
                    <td class="align-center strong">Tên khoản mục</td>
                    <td class="align-center strong">Giá trị đầu tư thời điểm đầu năm</td>
                    <td class="align-center strong">Kế hoạch tăng/giảm trong năm</td>
                    <td class="align-center strong">Giá trị đầu tư thời điểm cuối năm</td>
                    <td class="align-center strong">Tỷ lệ vốn góp (%) đến cuối năm</td>
                    <td class="align-center strong">Kế hoạch cổ tức / lợi nhuận được chia</td>
                    <td class="align-center strong">Tỷ lệ LN được chia trên vốn đầu tư</td>
                    <td class="align-center strong">Ghi chú</td>
                </tr>

                @foreach (var item in Model?
                                    .OrderBy(x => x.C_ORDER)
                                    .GroupBy(x => x.CODE)
                                    .Select(x => x.First()))
                {
                    var lstElements = Model.Where(x => !item.IS_GROUP && x.CODE.Equals(item.CODE) && x.IsChildren).ToList();
                    var classParent = item.IS_GROUP ? "strong" : string.Empty;
                    if (lstElements.Count() < 1 || !dataCenterModel.IS_DRILL_DOWN)
                    {
                        var space = new StringBuilder();
                        for (int i = 0; i < item.LEVEL; i++)
                        {
                            space.Append("\t");
                        }
                        var childClass = item.IsChildren ? "child" : string.Empty;

                        <tr class="@classParent">
                            @if (item.IS_GROUP)
                            {
                                <td class="sticky-cell @childClass" level="@item.LEVEL" type="sumup">@item.CODE</td>
                                <td class="sticky-cell @classParent">@($"{space.ToString()}{item.NAME}")</td>
                                <td class="align-right">@item.Values[0].ToStringVN()</td>
                                <td class="align-right">@item.Values[1].ToStringVN()</td>
                                <td class="align-right">@item.Values[2].ToStringVN()</td>
                                <td class="align-right">@item.Values[3].ToStringVN()</td>
                                <td class="align-right">@item.Values[4].ToStringVN()</td>
                                <td class="align-right">@item.Values[5].ToStringVN()</td>
                                <td></td>
                            }
                            else
                            {
                                <td class="sticky-cell" level="@item.LEVEL">@item.CODE</td>
                                <td class="sticky-cell @classParent">@($"{space.ToString()}{item.NAME}")</td>
                                <td class=" align-right">@lstElements.Sum(x => x.Values[0]).ToStringVN()</td>
                                <td class=" align-right">@lstElements.Sum(x => x.Values[1]).ToStringVN()</td>
                                <td class=" align-right">@lstElements.Sum(x => x.Values[2]).ToStringVN()</td>
                                <td class=" align-right">@lstElements.Sum(x => x.Values[3]).ToStringVN()</td>
                                <td class=" align-right">@lstElements.Sum(x => x.Values[4]).ToStringVN()</td>
                                <td class=" align-right">@lstElements.Sum(x => x.Values[5]).ToStringVN()</td>

                                <td class=""></td>
                            }
                        </tr>
                    }
                    else
                    {
                        var space = new StringBuilder();
                        for (int i = 0; i < item.LEVEL; i++)
                        {
                            space.Append("\t");
                        }
                        <tr class="expanded @item.CODE">
                            <td class="sticky-cell" level="@item.LEVEL">@item.CODE</td>
                            <td class="sticky-cell @classParent">@($"{space.ToString()}{item.NAME}")</td>
                            <td class=" align-right">@lstElements.Sum(x => x.Values[0]).ToStringVN()</td>
                            <td class=" align-right">@lstElements.Sum(x => x.Values[1]).ToStringVN()</td>
                            <td class=" align-right">@lstElements.Sum(x => x.Values[2]).ToStringVN()</td>
                            <td class=" align-right">@lstElements.Sum(x => x.Values[3]).ToStringVN()</td>
                            <td class=" align-right">@lstElements.Sum(x => x.Values[4]).ToStringVN()</td>
                            <td class=" align-right">@lstElements.Sum(x => x.Values[5]).ToStringVN()</td>
                            <td class=""></td>
                        </tr>

                        space.Append("\t");

                        foreach (var element in detailCostElements.Where(x => x.KHOAN_MUC_DAU_TU_CODE == item.CODE).OrderBy(x => x.ORG_CODE))
                        {
                            var sum = element.VALUE_1 + element.VALUE_2 + element.VALUE_3 + element.VALUE_4 + element.VALUE_5 + element.VALUE_6;
                            <tr class="@element.KHOAN_MUC_DAU_TU_CODE @dataCenterModel.ORG_CODE-@element.KHOAN_MUC_DAU_TU_CODE">
                                <td class="sticky-cell"></td>
                                <td class="sticky-cell">@($"{space.ToString()}{element.Organize.NAME}")</td>
                                <td class=" align-right">@((element.VALUE_1 ?? 0).ToStringVN())</td>
                                <td class=" align-right">@((element.VALUE_2 ?? 0).ToStringVN())</td>
                                <td class=" align-right">@((element.VALUE_3 ?? 0).ToStringVN())</td>
                                <td class=" align-right">@((element.VALUE_4 ?? 0).ToStringVN())</td>
                                <td class=" align-right">@((element.VALUE_5 ?? 0).ToStringVN())</td>
                                <td class=" align-right">@((element.VALUE_6 ?? 0).ToStringVN())</td>
                                <td class=""></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>


    <script>
        $(document).on("keyup", "#text-search-table", () => SearchTable(2, 1, 1, 2));

    </script>
}
