
@model SMO.Service.MD.RouteService
@{
    var number = 1;
}

<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th style="max-width: 120px;">Mã tuyến đường</th>
                <th>Tên tuyến đường</th>
                <th>Điểm đầu</th>
                <th>Điểm cuối</th>
                <th>Km có hàng</th>
                <th>Km không hàng</th>
                <th>Hệ số hao hụt</th>
                <th>Parent Level ID</th>
                <th>Khu vực</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ObjList)
            {
                number++;
                var vdbclickAction = string.Format("Forms.LoadAjax('{0}', this);", Url.Action("Edit", new { id = item.CODE }));
                <tr>
                    <td ondblclick="@vdbclickAction">
                        <a href="#" onclick="@vdbclickAction">@item.CODE</a>
                    </td>
                    <td ondblclick="@vdbclickAction">@item.NAME</td>
                    <td ondblclick="@vdbclickAction">@item.FIRST_POINT</td>
                    <td ondblclick="@vdbclickAction">@item.FINAL_POINT</td>
                    <td ondblclick="@vdbclickAction">@item.KM_CO_HANG</td>
                    <td ondblclick="@vdbclickAction">@item.KM_KHONG_HANG</td>
                    <td ondblclick="@vdbclickAction">@item.HE_SO_HAO_HUT.ToStringVN()</td>
                    <td ondblclick="@vdbclickAction">@item.PARENT_LEVEL_ID</td>
                    <td ondblclick="@vdbclickAction">@item.AREA_CODE</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{ Html.RenderPartial("Paging", Model); }

