@model List<SMO.Core.Entities.BP.T_BP_KE_HOACH_VAN_TAI>
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{
    var gridId = Guid.NewGuid().ToString("N");
    var jsonSerializeSettings = new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() };
    var formIdExportExcel = Guid.NewGuid();
}

<div style="height: calc(100vh - 240px); width: 100%" id="@gridId"></div>
<div class="hidden">
    <form id="@formIdExportExcel" target="_blank" method="post" action="@Url.Action("ExportExcelGridData")">
        @Html.Hidden("Treedata")
        @Html.Hidden("Template")
    </form>
</div>


<script type="text/javascript">
    const rawData = @Html.Raw(JsonConvert.SerializeObject(Model));
    
    const grid = new dhx.Grid("@gridId", {
        columns: [
            { id: "COL1", header: [{ text: "TT", align: "center", rowspan: 3 },"",""], align: "center" },
            { id: "COL2", header: [{ text: "LOẠI XE VẬN TẢI", align: "center", colspan: 3 }, { text: "Đội VT", align: "center", rowspan: 2 }]},
            { id: "COL3", header: ["", { text: "SL", align: "center", rowspan: 2 }], align: "right" },
            { id: "COL4", header: ["", { text: "DT", align: "center", rowspan: 2 }], align: "right" },


            { id: "COL5", header: [{ text: "Tuyến vận chuyển", align: "center", rowspan: 3 }, "", ""] },
            { id: "COL6", header: [{ text: "SL phải vận chuyển", align: "center", rowspan: 3 }, "", ""], align: "right", format: "#,#" },

            { id: "COL7", header: [{ text: "SẢN LƯỢNG TỰ VẬN", align: "center", colspan: 7 }, { text: "SLVC năm (m3)", align: "center", rowspan: 2 }], align: "right", format: "#,#"
},
        { id: "COL8", header: ["", { text: "Số lượt vc/ngày", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL9", header: ["", { text: "SL xe sử dụng", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL10", header: ["", { text: "Số ngày VC", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL11", header: ["", { text: "Tháng ", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL12", header: ["", { text: "Hệ số sử dụng", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL13", header: ["", { text: "Số chuyến v/c", align: "center", rowspan: 2 }], align: "right", format: "#,#" },

        { id: "COL14", header: [{ text: "THIẾU HỤT", align: "center", colspan: 4 }, { text: "SL thiếu (m3)", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL15", header: ["", { text: "Km", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL16", header: ["", { text: "Đơn giá (đ/m3)", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL17", header: ["", { text: "Thành tiền", align: "center", rowspan: 2 }], align: "right", format: "#,#" },

        { id: "COL18", header: [{ text: "CUNG ĐƯỜNG VẬN CHUYỂN", align: "center", colspan: 4 }, { text: "2 chiều (Km)", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL19", header: ["", { text: "KM vận hành (có hàng)", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL20", header: ["", { text: "KM vận hành (không hàng)", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL21", header: ["", { text: "Tổng Km vận hành", align: "center", rowspan: 2 }], align: "right", format: "#,#" },

        { id: "COL22", header: [{ text: "1. NHIÊN LIỆU VẬN CHUYỂN", align: "center", colspan: 8 }, { text: "Đ.mức tiêu hao lit/km", align: "center", colspan: 2, }, { text: "Có hàng", align: "center" }], align: "right", format: "#,#" },
        { id: "COL23", header: ["", "", { text: "Không hàng", align: "center" }], align: "right", format: "#,#" },
        { id: "COL24", header: ["", { text: "Tiêu hao lít/ch", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL25", header: ["", { text: "D0 tiêu hao", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL26", header: ["", { text: "Dầu nhớt", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL27", header: ["", { text: "Chi phí nhiên liệu", align: "center", colspan: 2 }, { text: "DO", align: "center" }], align: "right", format: "#,#" },
        { id: "COL79", header: ["", "", { text: "Dầu mỡ phụ", align: "center" }], align: "right", format: "#,#" },


        { id: "COL28", header: [{ text: "2. SĂM LỐP", align: "center", colspan: 6 }, { text: "Số bộ săm lốp  ", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL29", header: ["", { text: "Số KM.lốp vận hành", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL30", header: ["", { text: "Đmức lốp", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL31", header: ["", { text: "Hệ số sử dụng", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL32", header: ["", { text: "Đ.giá", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL33", header: ["", { text: "Thành tiền", align: "center", rowspan: 2 }], align: "right", format: "#,#" },

        { id: "COL34", header: [{ text: "3. VẬT TƯ PT", align: "center", colspan: 2 }, { text: "SL hàng hóa vận chuyển", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL35", header: ["", { text: "Thành tiền", align: "center", rowspan: 2 }], align: "right", format: "#,#" },

        { id: "COL36", header: [{ text: "4. THUÊ SCTX ", align: "center" }, { text: "Thành tiền", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL37", header: [{ text: "5. SCL ", align: "center" }, { text: "Thành tiền", align: "center", rowspan: 2 }], align: "right", format: "#,#" },

        { id: "COL38", header: [{ text: "6. NHIÊN LIỆU KHÁC", align: "center", colspan: 12 }, { text: "Đo lường", align: "center", colspan: 2, }, { text: "Số lần đo lường", align: "center" }], align: "right", format: "#,#" },
        { id: "COL39", header: ["", "", { text: "Cự ly đi đo lường", align: "center" }], align: "right", format: "#,#" },
        { id: "COL40", header: ["", { text: "Kiểm định lưu hành", align: "center", colspan: 2 }, { text: "Số lần kiểm định", align: "center" }], align: "right", format: "#,#" },
        { id: "COL41", header: ["", "", { text: "Cự ly đi kiểm định", align: "center" }], align: "right", format: "#,#" },
        { id: "COL42", header: ["", { text: "Nhiên liệu đo lường/KĐ", align: "center", colspan: 2 }, { text: "Định mức tiêu hao", align: "center" }], align: "right", format: "#,#" },
        { id: "COL43", header: ["", "", { text: "Nhiên liệu", align: "center" }], align: "right", format: "#,#" },
        { id: "COL44", header: ["", { text: "Bảo dưỡng xe", align: "center", colspan: 5 }, { text: "Số đầu trục", align: "center" }], align: "right", format: "#,#" },
        { id: "COL45", header: ["", "", { text: "Định mức bảo dưỡng", align: "center" }], align: "right", format: "#,#" },
        { id: "COL46", header: ["", "", { text: "Số lần bảo dưỡng", align: "center" }], align: "right", format: "#,#" },
        { id: "COL47", header: ["", "", { text: "DO 1.5", align: "center" }], align: "right", format: "#,#" },
        { id: "COL48", header: ["", "", { text: "Xăng 2", align: "center" }], align: "right", format: "#,#" },
        { id: "COL49", header: ["", { text: "Thành tiền", align: "center", rowspan: 2 }], align: "right", format: "#,#" },

        { id: "COL50", header: [{ text: "7. KIỂM ĐỊNH DUNG TÍCH, LƯU HÀNH", align: "center", colspan: 5 }, { text: "Kiểm định dung tích", align: "center", colspan: 2, }, { text: "Số lần", align: "center" }], align: "right", format: "#,#" },
        { id: "COL51", header: ["", "", { text: "Thành tiền", align: "center" }], align: "right", format: "#,#" },
        { id: "COL52", header: ["", { text: "Kiểm định lưu hành", align: "center", colspan: 2 }, { text: "Số lần", align: "center" }], align: "right", format: "#,#" },
        { id: "COL53", header: ["", "", { text: "Thành tiền", align: "center" }], align: "right", format: "#,#" },
        { id: "COL54", header: ["", { text: "Chi phí", align: "center", rowspan: 2 }], align: "right", format: "#,#" },

        { id: "COL55", header: [{ text: "8. CÔNG TÁC PHÍ", align: "center", colspan: 5 }, { text: "Ngày công", align: "center", rowspan: 2, }], align: "right", format: "#,#" },
        { id: "COL56", header: ["", { text: "Số lái xe", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
        { id: "COL57", header: ["", { text: "Công tác phí", align: "center", colspan: 2 }, { text: "Công tác phí", align: "center" }], align: "right", format: "#,#" },
        { id: "COL58", header: ["", "", { text: "Khách sạn", align: "center" }], align: "right", format: "#,#" },
        { id: "COL59", header: ["", { text: "Thành tiền", align: "center", rowspan: 2 }], align: "right", format: "#,#" },

        { id: "COL60", header: [{ text: "9. PHÍ  SDĐB ", align: "center", colspan: 3 }, { text: "Đơn giá (đồng/năm)", align: "center", colspan: 2, }, { text: "Đầu kéo", align: "center" }], align: "right", format: "#,#" },
        { id: "COL61", header: ["", "", { text: "Sơmi", align: "center" }], align: "right", format: "#,#" },
        { id: "COL62", header: ["", { text: "Thành tiền", align: "center", rowspan: 2 }], align: "right", format: "#,#" },

        { id: "COL63", header: [{ text: "10. PHÍ CẦU ĐƯỜNG", align: "center", colspan: 4 }, { text: "Đơn giá phí cầu đường/lượt", align: "center", rowspan: 2, }], align: "right", format: "#,#" },
        { id: "COL64", header: ["", { text: "Lệ phí ra vào sân bay", align: "center", colspan: 2 }, { text: "Số lượt ra vào", align: "center" }], align: "right", format: "#,#" },
        { id: "COL65", header: ["", "", { text: "Lệ phí ra vào sân bay", align: "center" }], align: "right", format: "#,#" },
        { id: "COL66", header: ["", { text: "Thành tiền", align: "center", rowspan: 2 }], align: "right", format: "#,#" },
            
        { id: "COL67", header: [{ text: "11. VỆ SINH CÔNG NGHIỆP", align: "center", colspan: 7 }, { text: "Súc rửa xi téc (lần/năm)", align: "center", colspan: 3, }, { text: "S.lần", align: "center" }], align: "right", format: "#,#" },
        { id: "COL68", header: ["", "", { text: "Đ.giá đ/m3", align: "center" }], align: "right", format: "#,#" },
        { id: "COL69", header: ["", "", { text: "Thành tiền", align: "center" }], align: "right", format: "#,#" },

        { id: "COL70", header: ["", { text: "Rửa xe (lần/năm)", align: "center", colspan: 2 }, { text: "S.lần", align: "center" }], align: "right", format: "#,#" },
        { id: "COL71", header: ["", "", { text: "Đ.giá đ/m3", align: "center" }], align: "right", format: "#,#" },
        { id: "COL72", header: ["", "", { text: "Thành tiền", align: "center" }], align: "right", format: "#,#" },

            { id: "COL73", header: ["", { text: "Tổng tiền", align: "center", rowspan: 2 }], align: "right", format:"#,#" },  

        ],
        adjust: true,
        data: rawData,
        resizable: true,
        leftSplit: 6,
        keyNavigation: true,
        selection: true,
        rowHeight: 30,
    });

    function ExportData() {

        var listData = grid.data.serialize()
        var Dataexceptd = listData.map(({ id, ...rest }) => rest);
        var Treedata = JSON.stringify(Dataexceptd);
        var template = "BM_02C";
         var template = "KeHoachVanTai";
         console.log(Treedata)
		$('#@formIdExportExcel #Treedata').val(Treedata);
		$('#@formIdExportExcel #Template').val(template);
         $('#@formIdExportExcel').submit();
}

    let oldValue;
    grid.events.on("cellClick", function (row, column) {
        let cellValue = grid.data.getItem(row.id)[column.id];
        oldValue = cellValue;
        
        // Không cho phép edit các cột TT, Đội VT, Tuyến vận chuyển
        if (column.id == "COL1" || column.id == "COL2" || column.id == "COL5") {
            return;
        }
        
        grid.editCell(row.id, column.id);
    });

    grid.events.on("afterEditEnd", function (value, row, column) {
        if (value == oldValue) {
            return;
        }
        // Lấy ID thực từ dữ liệu
        const realId = grid.data.getItem(row.id).ID; // Giả sử ID là trường chứa id thực trong database
        onEditCell(realId, column.id, value);
    });

    function onEditCell(id, column, value) {
        if (value == null) {
            return;
        }
        var year = $("#time-year").val();
        
        var ajaxParams = {
            url: '@Url.Action("UpdateCellValue", "KeHoachVanTai")',
            type: "POST",
            data: {
                id: id, // Đây sẽ là ID thực từ database
                year: year,
                column: column,
                value: value
            },
            dataType: "json",
            success: function (response) {
                if (response.Type == "AlertSuccessAndJsCommand") {
                    Message.execute(response);
                } else {
                    Message.execute(response);
                }
            }
        };
        Forms.Ajax(ajaxParams);
    }
</script>






