
@model SMO.Service.BU.PaymentProgressService

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <tr>
                <th>Đợt thanh toán</th>
                <th>Tiến độ</th>
                <th>Giá trị</th>
                <th>Diễn giải</th>
                <th>Hồ sơ thanh toán</th>
                <th>Ngày thanh toán</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ObjList)
            {
                <tr>
                    <td>
                        @item.BATCH
                    </td>
                    <td>
                        @item.PROGRESS %
                    </td>
                    <td>
                        @item.PAYMENT_VALUE VNĐ
                    </td>
                    <td>
                        @item.PAYMENT_DESCRIPTION
                    </td>
                    <td>
                        @item.PROFILE
                    </td>
                    <td>
                        @item.DATE
                    </td>
                    <td>
                        @if (item.STATUS == "01")
                        {
                            <span style="background-color: #4CAF50;padding:5px;">@SMO.Core.Entities.BU.ConstContract.convertProgressToString(item.STATUS)</span>
                        }
                        else if (item.STATUS == "02")
                        {
                            <span style="background-color: #ffd800;padding:5px;">@SMO.Core.Entities.BU.ConstContract.convertProgressToString(item.STATUS)</span>
                        }
                        else
                        {
                            <span style="background-color: #ff0000;padding:5px;">@SMO.Core.Entities.BU.ConstContract.convertProgressToString(item.STATUS)</span>
                        }
                    </td>
                    <td style="display:flex;justify-content:center;" data-id="@item.ID">
                        <button type="button" class="btn"><i class="material-icons col-fecon">edit</i></button>
                        <button type="button" class="btn" style="margin-left:5px;" onclick="DeletePharse(this)"><i class="material-icons col-fecon">delete</i></button>
                    </td>
                </tr>
            }
            <tr style="display:none;" class="form-create">
                <td>@Html.MyTextBoxFor(m => m.ObjDetail.BATCH)</td>
                <td>
                    <div style="display:flex;">
                        @Html.MyTextBoxFor(m => m.ObjDetail.PROGRESS, new { type = "number", min = "0",oninput = "cacullateValue(this)" })<span style="display:flex; align-items:center;">%</span>
                    </div>

                </td>
                <td>
                    <div style="display:flex;">
                        @Html.MyTextBoxFor(m => m.ObjDetail.PAYMENT_VALUE, new { type = "number", min = "0", oninput = "cacullateProgress(this)" }) <span style="display:flex; align-items:center;">VNĐ</span>
                    </div>
                </td>
                <td>@Html.TextAreaFor(m => m.ObjDetail.PAYMENT_DESCRIPTION, new { style = "width: 100%;", @required = true})</td>
                <td>@Html.TextAreaFor(m => m.ObjDetail.PROFILE, new { style = "width: 100%;", required = "required" })</td>
                <td>
                    @Html.TextBoxFor(m => m.ObjDetail.DATE, new { type = "date", @Value = DateTime.Now.ToString("yyyy-MM-dd") })
                </td>

                <td>
                    @Html.DropDownListFor(m => m.ObjDetail.STATUS,
                                          new List<SelectListItem>
                                          {
                                              new SelectListItem { Value = "01", Text = "Đã thanh toán" },
                                              new SelectListItem { Value = "02", Text = "Đã thanh toán một phần" },
                                              new SelectListItem { Value = "03", Text = "Chưa thanh toán" }
                                          },
                                          new { style = "padding: 3px 0;" })
                </td>
            <td style="text-align:center;">
                <button type="button" class="btn" style="margin-left:5px;" onclick="HideCreate()"><i class="material-icons col-fecon">remove</i></button>
            </td>
            </tr>
        </tbody>
    </table>
    <script>

        $(function () {
            Forms.CompleteUI();
        });
    </script>
</div>

