@model SMO.Service.MD.UnitPriceService
@{
    var frmFormCode = "frmUnitPriceIndex";
    var number = 1;
}

<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th>SHORT_OBJECT_ID</th>
                <th>OBJECT_ID</th>
                <th>OBJECT_TYPE_ID</th>
                <th>CURRENCY_ID</th>
                <th>MOPS_PRICE</th>
                <th>UNIT_ID</th>
                <th>WAREHOUSE_ID</th>
                <th>PRICE_01</th>
                <th>PRICE_02</th>
                <th>ENVIRONMENT_AMOUNT</th>
                <th>SERVICE_PRICE</th>
                <th>PUMP_FEE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ObjList)
            {
              
                <tr>
                    <td>@item.SHORT_OBJECT_ID</td>
                    <td>@item.OBJECT_ID</td>
                    <td>@item.OBJECT_TYPE_ID</td>
                    <td>@item.CURRENCY_ID</td>
                    <td>@item.MOPS_PRICE</td>
                    <td>@item.UNIT_ID</td>
                    <td>@item.WAREHOUSE_ID</td>
                    <td>@item.PRICE_01</td>
                    <td>@item.PRICE_02</td>
                    <td>@item.ENVIRONMENT_AMOUNT</td>
                    <td>@item.SERVICE_PRICE</td>
                    <td>@item.PUMP_FEE</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{ Html.RenderPartial("Paging", Model); }
