@model List<SMO.Service.BP.ReportModel>
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{
    var gridId = Guid.NewGuid().ToString("N");
    var jsonSerializeSettings = new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() };
    var formIdExportExcel = Guid.NewGuid();
}

<div style="height: calc(100vh - 240px); width: 100%" id="@gridId"></div>
<div class="hidden">
    <form id="@formIdExportExcel" target="_blank" method="post" action="@Url.Action("ExportExcelGridData")">
        @Html.Hidden("Treedata")
        @Html.Hidden("Template")
    </form>
</div>
<script type="text/javascript">
    const rawData = @Html.Raw(JsonConvert.SerializeObject(Model, jsonSerializeSettings));
    let columns = [
        { id: "name", header: [{ text: "Danh mục đầu tư không có XDCB", align: "center", rowspan: 2 }, '', {content: 'inputFilter'}], adjust: true },

        { id: "col1", header: [{ text: "Kế hoạch đầu tư năm", align: "center", rowspan: 2, colspan: 3 },"", { text: "Số lượng", align: "center" }], align: "right", width: 140, type: "number", format: "#,#" },
        { id: "col2", header: ["", "", { text: "Đơn giá", align: "center" }], align: "right", width: 140, type: "number", format: "#,#" },
        { id: "col3", header: ["", "", { text: "Thành tiền", align: "center" }], align: "right", width: 160, type: "number", format: "#,#" },

        { id: "col4", header: [{ text: "Giá trị khối lượng công việc thực hiện", align: "center", colspan: 5 }, { text: "Ước thực hiện tháng báo cáo", align: "center", colspan: 3 }, { text: "Số lượng", align: "center" }], align: "right", width: 140, type: "number", format: "#,#" },
        { id: "col5", header: ["", "", { text: "Đơn giá", align: "center" }], align: "right", width: 140, type: "number", format: "#,#" },
        { id: "col6", header: ["", "", { text: "Thành tiền", align: "center" }], align: "right", width: 160, type: "number", format: "#,#" },
        { id: "col7", header: ["", { text: "Lũy kế đến hết tháng báo cáo", align: "center", rowspan: 2 }], align: "right", minWidth: 160, type: "number", format: "#,#" },
        { id: "col8", header: ["", { text: "%TH/KH", align: "center", rowspan: 2 }], align: "right", minWidth: 140, type: "number", format: "#,#" },

        { id: "col9", header: [{ text: "Giá trị giải ngân", align: "center", colspan: 2 }, { text: "Ước giải ngân tháng báo cáo", align: "center", rowspan: 2 }], align: "right", minWidth: 160, type: "number", format: "#,#" },
        { id: "col10", header: ["", { text: "Lũy kế đến hết tháng báo cáo", align: "center", rowspan: 2 }], align: "right", minWidth: 160, type: "number", format: "#,#" },

        { id: "des", header: [{ text: "Ghi chú", align: "center", rowspan: 3 }], align: "right", adjust: true },
    ];
    rawData.forEach((item) => {
        if (item.id == "A" || item.id == "B") delete item.parent;
    });

    const treeGrid = new dhx.TreeGrid("@gridId", {
        columns,
        data: rawData,
        leftSplit: 1,
        resizable: true,
        keyNavigation: true,
        rowCss: function ({ isBold }) { return isBold == true ? "row-bold" : "" },
        selection: 'row',
        rowHeight: 30
    });

     function ExportData() {
        var Treedata = JSON.stringify(treeGrid.data.serialize());
        var template = "BM_2108";
        $('#@formIdExportExcel #Treedata').val(Treedata);
        $('#@formIdExportExcel #Template').val(template);
    $('#@formIdExportExcel').submit();
}
</script>



