@model  List<SMO.Models.ReportDauTuModel>
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{
    var gridId = Guid.NewGuid().ToString("N");
    var jsonSerializeSettings = new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() };
    var formIdExportExcel = Guid.NewGuid();
}

<div style="height: calc(100vh - 240px); width: 100%" id="@gridId"></div>
<div class="hidden">
    <form id="@formIdExportExcel" target="_blank" method="post" action="@Url.Action("ExportExcelTHKHDT")">
        @Html.Hidden("year")
        @Html.Hidden("phienBan")
        @Html.Hidden("kichBan")
        @Html.Hidden("area")
    </form>
</div>
<script type="text/javascript">
    const rawData = @Html.Raw(JsonConvert.SerializeObject(Model, jsonSerializeSettings));
    let columns = [
        { id: "stt", header: [{ text: "STT", align: "center", rowspan:2 }], width: 100, align: "center" },
        { id: "name", header: [{ text: "Danh mục đầu tư mua sắm", align: "center" }, { content: "inputFilter" }], width: 500 },
        { id: "col1", header: [{ text: "Kế hoạch năm", align: "center", colspan: 5 }, { text: "Nguồn vốn", align: "center", }], width: 140 },

        { id: "col2", header: ['', { text: "Tổng vốn đầu tư", align: "center" }], width: 140, type:"number", format: "#.#" },
        { id: "col3", header: ['', { text: "KH kinh phí đầu tư", align: "center" }], width: 140, type: "number", format: "#.#" },
        { id: "col4", header: ['', { text: "Tiến độ triển khai giai đoạn đầu tư", align: "center" }], width: 140 },
        { id: "des", header: ['', { text: "Ghi chú", align: "center" }], adjust: true },
    ];
    const treeGrid = new dhx.Grid("@gridId", {
        columns,
        data: rawData,
        leftSplit: 2,
        resizable: true,
        keyNavigation: true,
        rowCss: function ({ isBold }) { return isBold == true ? "row-bold" : "" },
        selection: true,
        rowHeight: 30,
    });

     function ExportData() {
         $('#@formIdExportExcel #year').val($("#time-year").val());
         $('#@formIdExportExcel #phienBan').val($("#phien-ban").val());
         $('#@formIdExportExcel #kichBan').val($("#kich-ban").val());
         $('#@formIdExportExcel #area').val($("#area").val());
         $('#@formIdExportExcel').submit();
    };
</script>