@model SMO.Models.ReportCKPModel
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{
    var year = ViewBag.Year as int?;
}
@{
    var gridIdTab1 = Guid.NewGuid().ToString("N");
    var gridIdTab2 = Guid.NewGuid().ToString("N");
    var gridIdTab3 = Guid.NewGuid().ToString("N");

    var jsonSerializeSettings = new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() };
    var formIdExportExcel = Guid.NewGuid();
}
<style>
    .header-table {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }

    .row-bold .dhx_grid-cell, .row-bold .dhx_tree-cell {
        font-weight: bold
    }

    .grid .dhx_grid-cell {
        word-break: break-word
    }

    .dhx_header-wrapper {
        z-index: 1;
    }
</style>
<h4>I. KẾ HOẠCH ĐẦU TƯ, MUA SẮM TRANG THIẾT BỊ</h4>
<div style="height: calc(100vh - 240px); width: 100%" id="@gridIdTab1"></div>
<h4>II. KẾ HOẠCH SỬA CHỮA LỚN TÀI SẢN CỐ ĐỊNH</h4>

<div style="height: calc(100vh - 240px); width: 100%" id="@gridIdTab2"></div>
<h4>III. KẾ HOẠCH CHI PHÍ</h4>
<div style="height: calc(100vh - 240px); width: 100%" id="@gridIdTab3"></div>

<div class="hidden">
    <form id="@formIdExportExcel" target="_blank" method="post" action="@Url.Action("ExportExcelGridData")">
        @Html.Hidden("Treedata")
        @Html.Hidden("Template")
    </form>
</div>
<script type="text/javascript">
    const rawDataTab1 = @Html.Raw(JsonConvert.SerializeObject(Model.DauTu.OrderBy(x=>x.Order), jsonSerializeSettings));
    const rawDataTab2 = @Html.Raw(JsonConvert.SerializeObject(Model.SuaChuaLon.OrderBy(x=>x.Order), jsonSerializeSettings));
    debugger;
    const rawDataTab3 = @Html.Raw(JsonConvert.SerializeObject(Model.ChiPhi.OrderBy(x=>x.Order), jsonSerializeSettings));
    let columns = [
        { id: "name", header: [{ text: "Danh mục đầu tư mua sắm", align: "center" }, { content: "inputFilter" }], minWidth: 500 },
        { id: "col1", header: [{ text: "Nguồn vốn", align: "center", rowspan: 2 }], minWidth: 160 },
        { id: "col2", header: [{ text: "Tổng vốn đầu tư giai đoạn", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col3", header: [{ text: "Tiến độ triển khai giai đoạn đầu tư", align: "center", rowspan: 2 }], minWidth: 160 },
        { id: "col4", header: [{ text: "Cấp kinh phí T1", align: "center", rowspan: 2 }], minWidth: 160,format: "#.#" },
        { id: "col5", header: [{ text: "Cấp kinh phí T2", align: "center", rowspan: 2 }], minWidth: 160,format: "#.#" },
        { id: "col6", header: [{ text: "Cấp kinh phí T3", align: "center", rowspan: 2 }], minWidth: 160,format: "#.#" },
        { id: "col7", header: [{ text: "Cấp kinh phí T4", align: "center", rowspan: 2 }], minWidth: 160,format: "#.#" },
        { id: "col8", header: [{ text: "Cấp kinh phí T5", align: "center", rowspan: 2 }], minWidth: 160,format: "#.#" },
        { id: "col9", header: [{ text: "Cấp kinh phí T6", align: "center", rowspan: 2 }], minWidth: 160,format: "#.#" },
        { id: "col10", header: [{ text: "Cấp kinh phí T7", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col11", header: [{ text: "Cấp kinh phí T8", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col12", header: [{ text: "Cấp kinh phí T9", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col13", header: [{ text: "Cấp kinh phí T10", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col14", header: [{ text: "Cấp kinh phí T11", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col15", header: [{ text: "Cấp kinh phí T12", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col16", header: [{ text: "Lũy kế đến tháng BC", align: "center", rowspan: 2 }], minWidth: 160 },
        { id: "col17", header: [{ text: "Ghi chú", align: "center", rowspan: 2 }], minWidth: 160 },
    ];

    let columnsTab2 = [
        { id: "name", header: [{ text: "Danh mục sửa chữa lớn", align: "center" }, { content: "inputFilter" }], minWidth: 500 },
        { id: "col1", header: [{ text: "Kế hoạch kinh phí sửa chữa năm 2023", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col2", header: [{ text: "Bổ sung theo CV được phê duyệt", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col3", header: [{ text: "KH sau bổ sung, điều chỉnh", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col4", header: [{ text: "Cấp kinh phí T1", align: "center", rowspan: 2 }], minWidth: 160,format: "#.#" },
        { id: "col5", header: [{ text: "Cấp kinh phí T2", align: "center", rowspan: 2 }], minWidth: 160,format: "#.#" },
        { id: "col6", header: [{ text: "Cấp kinh phí T3", align: "center", rowspan: 2 }], minWidth: 160,format: "#.#" },
        { id: "col7", header: [{ text: "Cấp kinh phí T4", align: "center", rowspan: 2 }], minWidth: 160,format: "#.#" },
        { id: "col8", header: [{ text: "Cấp kinh phí T5", align: "center", rowspan: 2 }], minWidth: 160,format: "#.#" },
        { id: "col9", header: [{ text: "Cấp kinh phí T6", align: "center", rowspan: 2 }], minWidth: 160,format: "#.#" },
        { id: "col9_2", header: [{ text: "Cấp kinh phí T6 lần 2", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col10", header: [{ text: "Cấp kinh phí T7", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col11", header: [{ text: "Cấp kinh phí T8", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col12", header: [{ text: "Cấp kinh phí T9", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col13", header: [{ text: "Cấp kinh phí T10", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col14", header: [{ text: "Cấp kinh phí T11", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col15", header: [{ text: "Cấp kinh phí T12", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col16", header: [{ text: "Lũy kế đến tháng BC", align: "center", rowspan: 2 }], minWidth: 160 },
        { id: "col17", header: [{ text: "Ghi chú", align: "center", rowspan: 2 }], minWidth: 160 },
    ];

    let columnsTab3 = [
        { id: "name", header: [{ text: "Danh mục chi phí", align: "center" }, { content: "inputFilter" }], minWidth: 500 },
        { id: "col1", header: [{ text: "Kế hoạch năm 2023", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col2", header: [{ text: "Kế hoạch bổ sung, điều chỉnh", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col3", header: [{ text: "KH sau bổ sung, điều chỉnh", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col4", header: [{ text: "Cấp kinh phí T1", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col5", header: [{ text: "Cấp kinh phí T2", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col6", header: [{ text: "Cấp kinh phí T3", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col7", header: [{ text: "Cấp kinh phí T4", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col8", header: [{ text: "Cấp kinh phí T5", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col9", header: [{ text: "Cấp kinh phí T6", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col9_2", header: [{ text: "Cấp kinh phí T6 lần 2", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col10", header: [{ text: "Cấp kinh phí T7", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col11", header: [{ text: "Cấp kinh phí T8", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col12", header: [{ text: "Cấp kinh phí T9", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col13", header: [{ text: "Cấp kinh phí T10", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col14", header: [{ text: "Cấp kinh phí T11", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col15", header: [{ text: "Cấp kinh phí T12", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col16", header: [{ text: "Lũy kế đến tháng BC", align: "center", rowspan: 2 }], minWidth: 160, format: "#.#" },
        { id: "col17", header: [{ text: "Ghi chú", align: "center", rowspan: 2 }], minWidth: 160 },
    ];
    const treeGrid = new dhx.Grid("@gridIdTab1", {
        columns,
        data: rawDataTab1,
        leftSplit: 1,
        resizable: true,
        keyNavigation: true,
        rowCss: function ({ isBold }) { return isBold == true ? "row-bold" : "" },
        selection: 'row',
        rowHeight:30,
    });

    const treeGridTab2 = new dhx.Grid("@gridIdTab2", {
    columns: columnsTab2,
    data: rawDataTab2,
    leftSplit: 1,
    resizable: true,
    keyNavigation: true,
    rowCss: function ({ isBold }) { return isBold == true ? "row-bold" : "" },
        selection: 'row',
        rowHeight: 30,
    });

    const treeGridTab3 = new dhx.Grid("@gridIdTab3", {
    columns: columnsTab3,
    data: rawDataTab3,
    leftSplit: 1,
    resizable: true,
    keyNavigation: true,
    rowCss: function ({ isBold }) { return isBold == true ? "row-bold" : "" },
        selection: 'row',
        rowHeight: 30,
});
</script>


