@model SMO.Service.BP.ReportDataCenter
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{
    var gridId = Guid.NewGuid().ToString("N");
    var jsonSerializeSettings = new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() };
    var formIdExportExcel = Guid.NewGuid();

}
<div style="height: calc(100vh - 240px); width: 100%" id="@gridId"></div>
<div class="hidden">
    <form id="@formIdExportExcel" target="_blank" method="post" action="@Url.Action("ExportExcelGridData")">
        @Html.Hidden("Treedata")
        @Html.Hidden("Template")

    </form>
</div>
<script type="text/javascript">
    var rawData = @Html.Raw(JsonConvert.SerializeObject(Model.BM02C, jsonSerializeSettings));
rawData.forEach((item) => {
    if (item.isBold) delete item.parent;
});
    let columns = [
        { id: "name", header: [{ text: "LĨNH VỰC", align: "center", rowspan: 2 }], width: 200 },

        { id: "col1", header: [{ text: "KH (KỊCH BẢN CAO)", align: "center", colspan: 3 }, { text: "DOANH THU", align: "center" }], align: "right", width: 146 , type: "number", format: "#,#"},
        { id: "col2", header: ["", { text: "CHI PHÍ", align: "center" }], align: "right", width: 146, type: "number", format: "#,#" },
        { id: "col3", header: ["", { text: "LNTT", align: "center" }], align: "right", width: 146, type: "number", format: "#,#" },

        { id: "col4", header: [{ text: "KH (KỊCH BẢN TRUNG BÌNH)", align: "center", colspan: 3 }, { text: "DOANH THU", align: "center" }], align: "right", width: 146, type: "number", format: "#,#" },
        { id: "col5", header: ["", { text: "CHI PHÍ", align: "center" }], align: "right", width: 146, type: "number", format: "#,#" },
        { id: "col6", header: ["", { text: "LNTT", align: "center" }], align: "right", width: 146, type: "number", format: "#,#" },

        { id: "col7", header: [{ text: "KH (KỊCH BẢN THẤP)", align: "center", colspan: 3 }, { text: "DOANH THU", align: "center" }], align: "right", width: 146, type: "number", format: "#,#" },
        { id: "col8", header: ["", { text: "CHI PHÍ", align: "center" }], align: "right", width: 146, type: "number", format: "#,#" },
        { id: "col9", header: ["", { text: "LNTT", align: "center" }], align: "right", width: 146, type: "number", format: "#,#" },

    ];

    const treeGrid = new dhx.TreeGrid("@gridId", {
        columns,
        data: rawData,
        resizable: true,
        keyNavigation: true,
        rowCss: function ({ isBold }) { return isBold == true ? "row-bold" : "" },
        selection: 'row',
        rowHeight: 30,
    });
      function ExportData() {
        var Treedata = JSON.stringify(treeGrid.data.serialize());
        var template = "BM_02C1";
        $('#@formIdExportExcel #Treedata').val(Treedata);
        $('#@formIdExportExcel #Template').val(template);
    $('#@formIdExportExcel').submit();
}


</script>


