@model SMO.Models.RevenueByFeeReportModel
@using SMO.Models;

<style>
    .header-table {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }
</style>

<ul class="nav nav-tabs" role="tablist" style="width: 100%; display: flex;">
    <li role="presentation" class="active" style="cursor: pointer;">
        <a href="#tab1" data-toggle="tab">Doanh thu giá dịch vụ</a>
    </li>
    <li role="presentation" style="cursor: pointer;">
        <a  data-toggle="tab" href="#tab2">Phí ngầm</a>
    </li>
    <li role="presentation" style="cursor: pointer;">
        <a data-toggle="tab" href="#tab3">Doanh thu tiền nhiên liệu</a>
    </li>
    <li role="presentation" style="cursor: pointer;">
        <a data-toggle="tab" href="#tab4">Tổng doanh thu</a>
    </li>
</ul>
<div class="tab-content" style="padding-bottom:0">
    <div role="tabpanel" class="tab-pane fade in active" id="tab1">
        <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
            <div class="table-responsive" style="height:calc(100vh - 180px); width:100%">
                <table class="table table-condensed table-bordered table-striped" style="text-align:center">
                    <thead style="position: sticky; top: 0; z-index: 1; background: #eee;">
                        <tr class="header-table">
                            <td>Chỉ tiêu</td>
                            <td>Cộng năm</td>
                            <td>Tháng 1</td>
                            <td>Tháng 2</td>
                            <td>Tháng 3</td>
                            <td>Tháng 4</td>
                            <td>Tháng 5</td>
                            <td>Tháng 6</td>
                            <td>Tháng 7</td>
                            <td>Tháng 8</td>
                            <td>Tháng 9</td>
                            <td>Tháng 10</td>
                            <td>Tháng 11</td>
                            <td>Tháng 12</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Tab1.OrderBy(x => x.Order))
                        {
                            <tr>
                                <td class="align-left">@item.Name</td>
                                <td class="align-right">@item.ValueSumYear.ToStringVN()</td>
                                <td class="align-right">@item.Value1.ToStringVN()</td>
                                <td class="align-right">@item.Value2.ToStringVN()</td>
                                <td class="align-right">@item.Value3.ToStringVN()</td>
                                <td class="align-right">@item.Value4.ToStringVN()</td>
                                <td class="align-right">@item.Value5.ToStringVN()</td>
                                <td class="align-right">@item.Value6.ToStringVN()</td>
                                <td class="align-right">@item.Value7.ToStringVN()</td>
                                <td class="align-right">@item.Value8.ToStringVN()</td>
                                <td class="align-right">@item.Value9.ToStringVN()</td>
                                <td class="align-right">@item.Value10.ToStringVN()</td>
                                <td class="align-right">@item.Value11.ToStringVN()</td>
                                <td class="align-right">@item.Value12.ToStringVN()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="tab2">
        <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
            <div class="table-responsive" style="height:calc(100vh - 180px); width:100%">
                <table class="table table-condensed table-bordered table-striped" style="text-align:center">
                    <thead style="position: sticky; top: 0; z-index: 1; background: #eee;">
                        <tr class="header-table">
                            <td>Chỉ tiêu</td>
                            <td>Cộng năm</td>
                            <td>Tháng 1</td>
                            <td>Tháng 2</td>
                            <td>Tháng 3</td>
                            <td>Tháng 4</td>
                            <td>Tháng 5</td>
                            <td>Tháng 6</td>
                            <td>Tháng 7</td>
                            <td>Tháng 8</td>
                            <td>Tháng 9</td>
                            <td>Tháng 10</td>
                            <td>Tháng 11</td>
                            <td>Tháng 12</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Tab2.OrderBy(x => x.Order))
                        {
                            <tr>
                                <td class="align-left">@item.Name</td>
                                <td class="align-right">@item.ValueSumYear.ToStringVN()</td>
                                <td class="align-right">@item.Value1.ToStringVN()</td>
                                <td class="align-right">@item.Value2.ToStringVN()</td>
                                <td class="align-right">@item.Value3.ToStringVN()</td>
                                <td class="align-right">@item.Value4.ToStringVN()</td>
                                <td class="align-right">@item.Value5.ToStringVN()</td>
                                <td class="align-right">@item.Value6.ToStringVN()</td>
                                <td class="align-right">@item.Value7.ToStringVN()</td>
                                <td class="align-right">@item.Value8.ToStringVN()</td>
                                <td class="align-right">@item.Value9.ToStringVN()</td>
                                <td class="align-right">@item.Value10.ToStringVN()</td>
                                <td class="align-right">@item.Value11.ToStringVN()</td>
                                <td class="align-right">@item.Value12.ToStringVN()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="tab3">
        <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
            <div class="table-responsive" style="height:calc(100vh - 180px); width:100%">
                <table class="table table-condensed table-bordered table-striped" style="text-align:center">
                    <thead style="position: sticky; top: 0; z-index: 1; background: #eee;">
                        <tr class="header-table">
                            <td>Chỉ tiêu</td>
                            <td>Cộng năm</td>
                            <td>Tháng 1</td>
                            <td>Tháng 2</td>
                            <td>Tháng 3</td>
                            <td>Tháng 4</td>
                            <td>Tháng 5</td>
                            <td>Tháng 6</td>
                            <td>Tháng 7</td>
                            <td>Tháng 8</td>
                            <td>Tháng 9</td>
                            <td>Tháng 10</td>
                            <td>Tháng 11</td>
                            <td>Tháng 12</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Tab3.OrderBy(x => x.Order))
                        {
                            <tr>
                                <td class="align-left">@item.Name</td>
                                <td class="align-right">@item.ValueSumYear.ToStringVN()</td>
                                <td class="align-right">@item.Value1.ToStringVN()</td>
                                <td class="align-right">@item.Value2.ToStringVN()</td>
                                <td class="align-right">@item.Value3.ToStringVN()</td>
                                <td class="align-right">@item.Value4.ToStringVN()</td>
                                <td class="align-right">@item.Value5.ToStringVN()</td>
                                <td class="align-right">@item.Value6.ToStringVN()</td>
                                <td class="align-right">@item.Value7.ToStringVN()</td>
                                <td class="align-right">@item.Value8.ToStringVN()</td>
                                <td class="align-right">@item.Value9.ToStringVN()</td>
                                <td class="align-right">@item.Value10.ToStringVN()</td>
                                <td class="align-right">@item.Value11.ToStringVN()</td>
                                <td class="align-right">@item.Value12.ToStringVN()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="tab4">
        <div class="sticky-table sticky-headers sticky-ltr-cells table-screen table">
            <div class="table-responsive" style="height:calc(100vh - 180px); width:100%">
                <table class="table table-condensed table-bordered table-striped" style="text-align:center">
                    <thead style="position: sticky; top: 0; z-index: 1; background: #eee;">
                        <tr class="header-table">
                            <td>Chỉ tiêu</td>
                            <td>Cộng năm</td>
                            <td>Tháng 1</td>
                            <td>Tháng 2</td>
                            <td>Tháng 3</td>
                            <td>Tháng 4</td>
                            <td>Tháng 5</td>
                            <td>Tháng 6</td>
                            <td>Tháng 7</td>
                            <td>Tháng 8</td>
                            <td>Tháng 9</td>
                            <td>Tháng 10</td>
                            <td>Tháng 11</td>
                            <td>Tháng 12</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Tab4.OrderBy(x => x.Order))
                        {
                            <tr>
                                <td class="align-left">@item.Name</td>
                                <td class="align-right">@item.ValueSumYear.ToStringVN()</td>
                                <td class="align-right">@item.Value1.ToStringVN()</td>
                                <td class="align-right">@item.Value2.ToStringVN()</td>
                                <td class="align-right">@item.Value3.ToStringVN()</td>
                                <td class="align-right">@item.Value4.ToStringVN()</td>
                                <td class="align-right">@item.Value5.ToStringVN()</td>
                                <td class="align-right">@item.Value6.ToStringVN()</td>
                                <td class="align-right">@item.Value7.ToStringVN()</td>
                                <td class="align-right">@item.Value8.ToStringVN()</td>
                                <td class="align-right">@item.Value9.ToStringVN()</td>
                                <td class="align-right">@item.Value10.ToStringVN()</td>
                                <td class="align-right">@item.Value11.ToStringVN()</td>
                                <td class="align-right">@item.Value12.ToStringVN()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

