@model SMO.Service.BP.ReportDataCenter
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{
    var gridId = Guid.NewGuid().ToString("N");
    var jsonSerializeSettings = new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() };
    var formIdExportExcel = Guid.NewGuid();
}
<style>
    .row-bold .dhx_grid-cell, .row-bold .dhx_tree-cell {
        font-weight: bold
    }

    .grid .dhx_grid-cell {
        word-break: break-word
    }

    .dhx_header-wrapper {
        z-index: 1;
    }
</style>

<div style="height: calc(100vh - 240px); width: 100%" id="@gridId"></div>
<div class="hidden">
    <form id="@formIdExportExcel" target="_blank" method="post" action="@Url.Action("ExportExcelGridData")">
        @Html.Hidden("Treedata")
        @Html.Hidden("Template")

    </form>
</div>
<script type="text/javascript">
    var rawData = @Html.Raw(JsonConvert.SerializeObject(Model.BM_02B, jsonSerializeSettings));

    let columns = [
        { id: "col1", header: [{ text: "STT", align: "center" }], width: 100 },
        { id: "col2", header: [{ text: "CHỈ TIÊU", align: "center" }, { content: "inputFilter" }], minWidth: 500 },

        { id: "col3", header: [{ text: "GIÁ TRỊ ĐẦU TƯ THỜI ĐIỂM ĐẦU NĂM", align: "center" }], align: "right", minWidth: 240, type: "number", format:"#.#" },
        { id: "col4", header: [{ text: "KẾ HOẠCH TĂNG GIẢM TRONG NĂM", align: "center" }], align: "right", minWidth: 240, type: "number", format: "#.#" },
        { id: "col5", header: [{ text: "GIÁ TRỊ ĐẦU TƯ THỜI ĐIỂM CUỐI NĂM", align: "center" }], align: "right", minWidth: 240, type: "number", format: "#.#" },
        { id: "col6", header: [{ text: "TỶ LỆ VỐN GÓP (%) ĐẾN CUỐI NĂM", align: "center" }], align: "right", minWidth: 240, type: "number", format: "#.#" },
        { id: "col7", header: [{ text: "KẾ HOẠCH CỔ TỨC/ LỢI NHUẬN ĐƯỢC CHIA", align: "center" }], align: "right", minWidth: 240, type: "number", format: "#.#" },
        { id: "col8", header: [{ text: "TỶ LỆ LN ĐƯỢC CHIA TRÊN VỐN ĐẦU TƯ BÌNH QUÂN (%)", align: "center" }], align: "right", minWidth: 240, type: "number", format: "#.#" },
        { id: "col9", header: [{ text: "GHI CHÚ", align: "center" }], align: "right", minWidth: 240 },
    ];

    const treeGrid = new dhx.Grid("@gridId", {
        columns,
        data: rawData,
        leftSplit: 1,
        resizable: true,
        keyNavigation: true,
        rowCss: function ({ isBold }) { return isBold == true ? "row-bold" : "" },
        selection: true,
        autoHeight: true,
    });
        function ExportData() {
        var Treedata = JSON.stringify(treeGrid.data.serialize());
        var template = "BM_02B";
        $('#@formIdExportExcel #Treedata').val(Treedata);
        $('#@formIdExportExcel #Template').val(template);
    $('#@formIdExportExcel').submit();
}

</script>


