@model SMO.Service.BP.ReportDataCenter
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{
    var gridId = Guid.NewGuid().ToString("N");
    var jsonSerializeSettings = new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() };
    var formIdExportExcel = Guid.NewGuid();

}

<div style="height: calc(100vh - 240px); width: 100%" id="@gridId"></div>
<div class="hidden">
    <form id="@formIdExportExcel" target="_blank" method="post" action="@Url.Action("ExportExcelGridData")">
        @Html.Hidden("Treedata")
        @Html.Hidden("Template")

    </form>
</div>
<script type="text/javascript">

    const treeGrid = new dhx.Grid("@gridId", {
        columns: [
            { id: "stt", header: [{ text: "STT", align: "center" }], align: "center", minWidth: 100 },
            { id: "name", header: [{ text: "CHỈ TIÊU", align: "center" }], adjust: true },

            { id: "unit", header: [{ text: "ĐVT", align: "center" }], align: "center", minWidth: 120 },

            { id: "col1", header: [{ text: "TH 2019", align: "center" }], align: "right", minWidth: 160, type: "number", format: "#.#" },
            { id: "col2", header: [{ text: "KH 2023", align: "center" }], align: "right", minWidth: 160, type: "number", format: "#.#" },
            { id: "col3", header: [{ text: "UTH 2023", align: "center" }], align: "right", minWidth: 160, type: "number", format: "#.#" },
            { id: "col4", header: [{ text: "KH 2024", align: "center" }], align: "right", minWidth: 160, type: "number", format: "#.#" },
            { id: "col5", header: [{ text: "KH 2024 / UTH 2023", align: "center" }], align: "right", minWidth: 160, type: "number", format: "#.#" },

        ],
        data: @Html.Raw(JsonConvert.SerializeObject(Model.BM02D, jsonSerializeSettings)),
        leftSplit: 2,
        resizable: true,
        keyNavigation: true,
        rowCss: function ({ isBold }) { return isBold == true ? "row-bold" : "" },
        selection: 'row',
        rowHeight: 30,
    });
    function ExportData() {
        var Treedata = JSON.stringify(treeGrid.data.serialize());
        var template = "BM_02D";
        $('#@formIdExportExcel #Treedata').val(Treedata);
        $('#@formIdExportExcel #Template').val(template);
        $('#@formIdExportExcel').submit();
    }

</script>


