@model List<SMO.Service.BP.ReportModel>
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{
    var gridId = Guid.NewGuid().ToString("N");
    var jsonSerializeSettings = new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() };
    var formIdExportExcel = Guid.NewGuid();
}

<div style="height: calc(100vh - 240px); width: 100%" id="@gridId"></div>
<div class="hidden">
    <form id="@formIdExportExcel" target="_blank" method="post" action="@Url.Action("ExportExcelGridData")">
        @Html.Hidden("Treedata")
        @Html.Hidden("Template")
    </form>
</div>
<script type="text/javascript">
    const rawData = @Html.Raw(JsonConvert.SerializeObject(Model, jsonSerializeSettings));
    let columns = [
        { id: "name", header: [{ text: "Danh mục sửa chữa lớn", align: "center" }, { content: "inputFilter" }], width: 500 },
        { id: "col1", header: [{ text: "KH năm", align: "center", rowspan: 2 }], align: "right", width: 160, type: "number", format: "#.#" },
        { id: "col2", header: [{ text: "KH bổ sung, điều chỉnh (theo CV đã được phê duyệt) ", align: "center", rowspan: 2 }], align: "right", width: 180, type: "number", format: "#.#" },
        { id: "col3", header: [{ text: "KH sau bổ sung, điều chỉnh", align: "center", rowspan: 2 }], align: "right", width: 160, type: "number", format: "#.#" },
        { id: "col4", header: [{ text: "Giá trị thực hiện", align: "center", rowspan: 2 }], align: "right", width: 160, type: "number", format: "#.#" },
        { id: "col5", header: [{ text: "% so với KH", align: "center", rowspan: 2 }], align: "right", width: 160, type: "number", format: "#.#" },

        { id: "des", header: [{ text: "Ghi chú", align: "center", rowspan: 2 }], align: "right", adjust: true },
    ];
    rawData.forEach((item) => {
        if (item.isBold == true) delete item.parent;
    });

    const treeGrid = new dhx.TreeGrid("@gridId", {
        columns,
        data: rawData,
        leftSplit: 1,
        resizable: true,
        keyNavigation: true,
        rowCss: function ({ isBold }) { return isBold == true ? "row-bold" : "" },
        selection: true,
        rowHeight: 30,
    });

     function ExportData() {
        var Treedata = JSON.stringify(treeGrid.data.serialize());
        var template = "BM_2109";
        $('#@formIdExportExcel #Treedata').val(Treedata);
        $('#@formIdExportExcel #Template').val(template);
    $('#@formIdExportExcel').submit();
}
</script>




