@{
    var viewId = Guid.NewGuid().ToString();
    var lstTimeYear = SelectListUtilities.GetTimeYear(false);
    var yearDefault = Convert.ToString(lstTimeYear?.SelectedValue);
}
<div id="@viewId" class="container-fluid child-content">
    <div class="card border-grey">
        <div class="body" style="padding-top: 0px;">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a style="padding-left:0px"><i class="material-icons col-fecon">clear_all</i>BÁO CÁO TÌNH HÌNH THỰC HIỆN ĐẦU TƯ VÀO CÁC DỰ ÁN HÌNH THÀNH TSCĐ NĂM TRƯỚC KẾ HOẠCH</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="page-function" style="width:100%">
                    <div class="page-function-button m-r-20" style="float:left">
                        @Html.MyButton("cmdBack", "Quay lại", string.Format("Forms.Close('{0}')", viewId), "Alt+N", "arrow_back")
                        @Html.MyButton("cmdAdd", "Kết xuất", "ViewData();", "Alt+N", "search")
                        @Html.MyButton("cmdAdd", "Xuất Excel", "ExportData()", "Alt+N", "file_download")
                    </div>
                    <div class="input-group page-function-search row" style="margin-bottom: 7px !important; max-width:920px">
                        <div class="col-md-2">
                            <select class="form-control selectpicker show-tick" id="time-year">
                                @foreach (var temp in lstTimeYear)
                                {
                                    if (temp.Value == yearDefault)
                                    {
                                        <option value="@temp.Value" selected>@temp.Text</option>
                                        break;
                                    }
                                    else
                                    {
                                        <option value="@temp.Value">@temp.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div id="divReport">

            </div>
        </div>
    </div>
</div>
<script>
    function ViewData() {
        $("#divReport").empty();
        var ajaxParams = {
            url: "@Url.Action("GenDataBM02B")",
            data: {
                year: $("#time-year").val(),
                phienBan: $("#phien-ban").val(),
                kichBan: $("#kich-ban").val(),
                area: $("#area").val(),
            },
            htmlTarget:'#divReport',
        };
        Forms.LoadAjax(ajaxParams);
    }

    $(function () {
        Forms.CompleteUI();
        setTimeout(function () { ViewData() }, 100)
    });

</script>




