@model SMO.Service.MD.ProjectService
@{
    Model.ViewId = Guid.NewGuid().ToString();
    Model.FormId = Guid.NewGuid().ToString();
}

<div id='@Model.ViewId' class="container-fluid child-content">
    @using (Ajax.BeginForm("Update", null, FormDataUtils.GetAjaxOptions(Model.ViewId), new { @id = Model.FormId }))
    {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(m => m.ObjDetail.CODE)
        <div class="card border-grey">
            <div class="body" style="padding-top: 0px;">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a style="padding-left:0px"><i class="material-icons col-fecon">clear_all</i> CHỈNH SỬA DỰ ÁN ĐẦU TƯ</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="page-function">
                        <div class="page-function-button m-r-20">
                            @Html.MyButton("cmdBack", "Quay lại", string.Format("Forms.Close('{0}');", @Model.ViewId), "Alt+N", "arrow_back")
                            @Html.MyButton("cmdSave", "Lưu lại", string.Format("Forms.SubmitForm('{0}');", @Model.FormId), "Alt+N", "done_all")
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-xs-1"></div>
                        <div class="col-lg-7 col-xs-10">
                            <label>Mã</label>
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.CODE, new { @disabled = "" })
                                </div>
                            </div>

                            <label>Tên</label>
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.NAME)
                                </div>
                            </div>

                            <label>Năm</label>
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.YEAR)
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-3" style="margin-bottom: 0">
                                    <div class="col-md-2">
                                        @Html.MyCheckBoxFor(m => m.ObjDetail.CHUYEN_TIEP, new { @style = "position:unset; opacity: 1" })
                                    </div>
                                    <div class="col-md-10">
                                        <label>Chuyển tiếp</label>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 0">
                                    <div class="col-md-2">
                                        @Html.MyCheckBoxFor(m => m.ObjDetail.DAU_TU_MOI, new { @style = "position:unset; opacity: 1" })
                                    </div>
                                    <div class="col-md-10">
                                        <label>Đầu tư mới</label>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 0">
                                    <div class="col-md-2">
                                        @Html.MyCheckBoxFor(m => m.ObjDetail.CHUAN_BI_DAU_TU, new { @style = "position:unset; opacity: 1" })
                                    </div>
                                    <div class="col-md-10">
                                        <label>Chuẩn bị đầu tư</label>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 0">
                                    <div class="col-md-2">
                                        @Html.MyCheckBoxFor(m => m.ObjDetail.THUC_HIEN_DAU_TU, new { @style = "position:unset; opacity: 1" })
                                    </div>
                                    <div class="col-md-10">
                                        <label>Thực hiện đầu tư</label>
                                    </div>
                                </div>
                            </div>

                            <label>Kiểu đầu tư</label>
                            <div class="form-group">
                                @Html.MyDropDownListFor(m => m.ObjDetail.LOAI_HINH, SelectListUtilities.SelectLoaiHinhDauTu(false), new { @class = "selectpicker show-tick", @data_val = false })
                            </div>

                            <label>Loại</label>
                            <div class="form-group">
                                @Html.MyDropDownListFor(m => m.ObjDetail.TYPE, SelectListUtilities.GetSelectTypeTtb(), new { @class = "selectpicker show-tick", @data_val = false })
                            </div>


                            <label>Ngành nghề</label>
                            <div class="form-group">
                                @Html.MyDropDownListFor(m => m.ObjDetail.NGANH_NGHE, SelectListUtilities.SelectNganhNgheDauTu(), new { @class = "selectpicker show-tick", @data_val = false })
                            </div>

                            <label>Phân loại</label>
                            <div class="form-group">
                                @Html.MyDropDownListFor(m => m.ObjDetail.PHAN_LOAI, SelectListUtilities.SelectPhanLoaiDauTu(), new { @class = "selectpicker show-tick", @data_val = false })
                            </div>

                            <label>Khu vực</label>
                            <div class="form-group">
                                @Html.MyDropDownListFor(m => m.ObjDetail.AREA_CODE, SelectListUtilities.GetAllArea(), new { @class = "selectpicker show-tick", @data_val = false })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    }
    <script type="text/javascript">
        $(function () {
            Forms.CompleteUI();
        });
    </script>
</div>

