@model SMO.Service.MD.ProjectService
@{
    Model.ViewId = Guid.NewGuid().ToString();
    Model.FormId = Guid.NewGuid().ToString();
    var lstTimeYear = SelectListUtilities.GetTimeYear(false);
    var yearDefault = Convert.ToString(lstTimeYear?.SelectedValue);
    var loaiHinh = SelectListUtilities.SelectLoaiHinhDauTu();
    var lstArea = SelectListUtilities.GetAllArea();
}
<div id='@Model.ViewId' class="container-fluid child-content">
    @using (Ajax.BeginForm("List", null, FormDataUtils.GetAjaxOptions(Model.ViewId), new { @id = Model.FormId }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.FormId)
        <div class="card border-grey">
            <div class="body" style="padding-top: 0px;">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a style="padding-left:0px"><i class="material-icons col-fecon">clear_all</i> DANH SÁCH DỰ ÁN ĐẦU TƯ</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="page-function">
                        <div class="page-function-button m-r-20" style="float:left">
                            @Html.MyButton("cmdBack", "Quay lại", "window.location.reload()", "Alt+N", "arrow_back")
                            @Html.MyButton("cmdAdd", "Thêm mới", string.Format("Forms.LoadAjax('{0}');", @Url.Action("Create")), "Alt+N", "add")
                        </div>
                       

                        <div class="input-group page-function-search row" style="margin-bottom: 7px !important; max-width:920px">
                            <div class="col-md-3" style="margin-bottom: 0">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.CODE, new { placeholder = "Tìm kiếm theo mã hoặc tên", @class = "align-center", @data_val = false })
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-bottom: 0">
                                <select class="form-control selectpicker show-tick" name="@Html.NameFor(x => x.ObjDetail.YEAR)" id="@Html.NameFor(x => x.ObjDetail.YEAR)" onchange="SubmitIndex();">
                                    @foreach (var temp in lstTimeYear)
                                    {
                                        if (temp.Value == yearDefault)
                                        {
                                            <option value="@temp.Value" selected>@temp.Text</option>
                                            break;
                                        }
                                        else
                                        {
                                            <option value="@temp.Value">@temp.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-3" style="margin-bottom: 0">
                                <select class="form-control selectpicker show-tick" name="@Html.NameFor(x => x.ObjDetail.LOAI_HINH)" id="@Html.NameFor(x => x.ObjDetail.LOAI_HINH)" onchange="SubmitIndex();">
                                    @foreach (var temp in loaiHinh)
                                    {
                                        <option value="@temp.Value">@temp.Text</option>
                                    }
                                </select>
                            </div>

                            <div class="col-md-3" style="margin-bottom: 0">
                                <select class="form-control selectpicker show-tick" name="@Html.NameFor(x => x.ObjDetail.AREA_CODE)" id="@Html.NameFor(x => x.ObjDetail.AREA_CODE)" onchange="SubmitIndex();">
                                    @foreach (var temp in lstArea)
                                    {
                                        <option value="@temp.Value">@temp.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="divResult">

                    </div>
                </div>
            </div>
        </div> 
    }

    <script type="text/javascript">
        function SubmitIndex() {
            Forms.SubmitForm('@Model.FormId');
        }

        $(function () {
            Forms.SubmitForm('@Model.FormId');
            Forms.CompleteUI();
            Forms.SubmitByEnter("@Model.FormId");
        });
    </script>
</div>


