@model SMO.Service.MD.ProjectService
@{
    var frmFormCode = "frmProjectIndex";
    var number = 1;
}
 
<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th style="max-width: 120px;">Mã</th>
                <th>Danh mục đầu tư</th>
                <th>Năm bắt đầu</th>
                <th>Loại đầu tư</th>
                <th>Loại</th>
                <th>Chuyển tiếp</th>
                <th>Đầu tư mới</th>
                <th>Chuẩn bị đầu tư</th>
                <th>Thực hiện đầu tư</th>
                <th>Ngành nghề</th>
                <th>Phân loại</th>
                <th>Khu vực</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ObjList)
            {
                number++;
                var vdbclickAction = string.Format("Forms.LoadAjax('{0}', this);", Url.Action("Edit", new { id = item.CODE }));
                <tr>
                    <td ondblclick="@vdbclickAction">
                        <a href="#" onclick="@vdbclickAction">@item.CODE</a>
                    </td>
                    <td ondblclick="@vdbclickAction">@item.NAME</td>
                    <td ondblclick="@vdbclickAction">@(item.YEAR)</td>
                    <td ondblclick="@vdbclickAction">@(item?.LoaiHinh?.TEXT)</td>
                    <td ondblclick="@vdbclickAction">@(item.TYPE == "TTB-LON" ? "Đầu tư dự án" : item.TYPE == "TTB-LE" ? "Trang thiết bị lẻ" : "")</td>
                    <td ondblclick="@vdbclickAction"><input type="checkbox" class="form-control" @(item.CHUYEN_TIEP ? "checked" : "") style="position:unset; opacity: 1" disabled /></td>
                    <td ondblclick="@vdbclickAction"><input type="checkbox" class="form-control" @(item.DAU_TU_MOI ? "checked" : "") style="position:unset; opacity: 1" disabled /></td>
                    <td ondblclick="@vdbclickAction"><input type="checkbox" class="form-control" @(item.CHUAN_BI_DAU_TU ? "checked" : "") style="position:unset; opacity: 1" disabled /></td>
                    <td ondblclick="@vdbclickAction"><input type="checkbox" class="form-control" @(item.THUC_HIEN_DAU_TU ? "checked" : "") style="position:unset; opacity: 1" disabled /></td>


                    <td ondblclick="@vdbclickAction">@(item?.NganhNghe?.TEXT)</td>
                    <td ondblclick="@vdbclickAction">@(item?.PhanLoai?.TEXT)</td>
                    <td ondblclick="@vdbclickAction">@(item?.Area?.TEXT)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
