@model SMO.Service.MD.CustomerService
@{
    var number = 1;
}

<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th style="max-width: 120px;">Mã</th>
                <th>Tên</th>
                <th>Mã cũ</th>
                <th>Địa chỉ</th>
                <th>Mã số thuế</th>
                <th>Số điện thoại</th>
                <th>Ngân hàng</th>
                <th>Thông tin khác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ObjList)
            {
                number++;
                var vdbclickAction = string.Format("Forms.LoadAjax('{0}', this);", Url.Action("Edit", new { id = item.CODE }));
                <tr>
                    <td ondblclick="@vdbclickAction">
                        <a href="#" onclick="@vdbclickAction">@item.CODE</a>
                    </td>
                    <td ondblclick="@vdbclickAction">@item.TEXT</td>
                    <td ondblclick="@vdbclickAction">@item.OLD_CODE</td>
                    <td ondblclick="@vdbclickAction">@item.ADDRESS</td>
                    <td ondblclick="@vdbclickAction">@item.MST</td>
                    <td ondblclick="@vdbclickAction">@item.PHONE</td>
                    <td ondblclick="@vdbclickAction">@item.BANK</td>
                    <td ondblclick="@vdbclickAction">@item.OTHER_INFO</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{ Html.RenderPartial("Paging", Model); }



