
@using SMO.Core.Entities;

@{
    var headerScl = ViewBag.Header as T_BP_KE_HOACH_CHI_PHI;
    if (headerScl == null)
    {
        var headerSclVerion = new T_BP_KE_HOACH_CHI_PHI_VERSION();
        headerSclVerion = ViewBag.Header;
        var hasVersion = ViewBag.HasVersion as bool?;
        var templateName = string.IsNullOrEmpty(headerSclVerion.TEMPLATE_CODE) ? "Dữ liệu tổng hợp" : $"{headerSclVerion.TEMPLATE_CODE} - {headerSclVerion.Template.NAME}";
        <div class="body">
            <div class="table-responsive font-13">
                <table class="table">
                    <tr>
                        <td>
                            <b>Đơn vị</b>
                            <div>@(headerSclVerion.ORG_CODE) - @(headerSclVerion.Organize?.NAME)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Mẫu khai báo</b>
                            <div>@templateName</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Năm kế hoạch</b>
                            <div>@headerSclVerion.TIME_YEAR</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Kịch bản</b>
                            <div>@(headerSclVerion.KichBan?.TEXT)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Phiên bản</b>
                            <div>@(headerSclVerion.PhienBan?.TEXT)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Version</b>
                            <div>@headerSclVerion.VERSION</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Người tạo</b>
                            <div>@headerSclVerion.CREATE_BY</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Ngày tạo</b>
                            <div>@(headerSclVerion.CREATE_DATE?.ToString(Global.DateTimeToStringFormat))</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
    else
    {
        var templateName = string.IsNullOrEmpty(headerScl.TEMPLATE_CODE) ? "Dữ liệu tổng hợp" : $"{headerScl.TEMPLATE_CODE} - {headerScl.Template.NAME}";
        <div class="body">
            <div class="table-responsive font-13">
                <table class="table">
                    <tr>
                        <td>
                            <b>Đơn vị</b>
                            <div>@(headerScl.ORG_CODE) - @(headerScl.Organize?.NAME)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Mẫu khai báo</b>
                            <div>@templateName</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Năm kế hoạch</b>
                            <div>@headerScl.TIME_YEAR</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Version</b>
                            <div>@headerScl.VERSION</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Kịch bản</b>
                            <div>@(headerScl.KichBan?.TEXT)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Phiên bản</b>
                            <div>@(headerScl.PhienBan?.TEXT)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Trạng thái</b>
                            <div>@Approve_Status.GetStatusText(headerScl.STATUS)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Người tạo</b>
                            <div>@headerScl.CREATE_BY</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Ngày tạo</b>
                            <div>@(headerScl.CREATE_DATE?.ToString(Global.DateTimeToStringFormat))</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
}

